@charset "utf-8"; 
@font-face {
	font-family:'Noto Sans KR'; 
	font-style:normal; 
	font-weight:300; 
	src:url("../fonts/NotoSansKR-Light.woff2") format('woff2'),
		url("../fonts/NotoSansKR-Light.woff") format('woff'),
		url("../fonts/NotoSansKR-Light.otf") format('opentype'); 
}
@font-face {
	font-family:'Noto Sans KR'; 
	font-style:normal; 
	font-weight:400; 
	src:url("../fonts/NotoSansKR-Regular.woff2") format('woff2'),
		url("../fonts/NotoSansKR-Regular.woff") format('woff'),
		url("../fonts/NotoSansKR-Regular.otf") format('opentype'); 
}
@font-face {
	font-family:'Noto Sans KR'; 
	font-style:normal; 
	font-weight:500; 
	src:url("../fonts/NotoSansKR-Medium.woff2") format('woff2'),
		url("../fonts/NotoSansKR-Medium.woff") format('woff'),
		url("../fonts/NotoSansKR-Medium.otf") format('opentype'); 
}
@font-face {
	font-family:'Noto Sans KR'; 
	font-style:normal; 
	font-weight:700; 
	src:url("../fonts/NotoSansKR-Bold.woff2") format('woff2'),
		url("../fonts/NotoSansKR-Bold.woff") format('woff'),
		url("../fonts/NotoSansKR-Bold.otf") format('opentype'); 
}
* {margin:0; padding:0; box-sizing:border-box; letter-spacing:-0.03em; font-family:"Noto Sans KR" , sans-serif; -webkit-tap-highlight-color:rgba(0,0,0,0) !important; -webkit-text-size-adjust:none;-webkit-appearance:none; appearance:none; -moz-appearance: none;}
html,body {overflow:hidden; overflow-y:auto; position:relative; font-size:16px; color:#333; word-break:keep-all}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, address {margin:0; padding:0}
pre {margin:0; padding:0; word-wrap:break-word; white-space:pre-line}
table {border:0; border-collapse:collapse; border-spacing:0; width:100%; table-layout:fixed}
fieldset, img {border:0;vertical-align:top}
ul, li {list-style:none}
h1, h2, h3, h4, h5, h6 {font-size:100%; font-weight:normal; line-height:1.25em; letter-spacing: -0.01em;}
a {text-decoration:none; cursor:pointer; color:#333}
body {position:relative}
em, address {font-style:normal}
legend, hr, caption {display:none}
select::-ms-expand {display:none}
button {cursor:pointer;}

/* input type */
input[type=text],
input[type=number],
input[type=tel],
input[type=password],
select,
textarea {padding:0 20px; border-radius:3px; border:1px solid #ccc; width:100%; height:40px; font-size:16px; box-sizing:border-box; background-color:#fff !important}
select {padding-right: 40px;background: url("../images/common/ico-arrow-down.png") no-repeat right 10px center;}
textarea {display:block; resize:none; padding:18px; height:80px; line-height:26px}
@media (max-width: 767px) {
	input[type=text],
	input[type=number],
	input[type=tel],
	input[type=password],
	select,
	textarea {padding:0 10px; height:36px; font-size:14px}
	select {padding-right:25px; background:url("../images/bl-arrow.png") no-repeat right 10px center/9px}
	textarea {padding:10px; height:80px; line-height:24px}
}

::-webkit-input-placeholder {color:#999}
::-moz-placeholder {color:#999}
:-ms-input-placeholder {color:#999}
:-moz-placeholder {color:#999}

input:read-only {background:#f6f6f6 !important}
input:-moz-read-only {background:#f6f6f6 !important}

/* skip nav */
#skipNav {height:0}
#skipNav dt {overflow:hidden; position:absolute !important; width:1px; height:1px}
#skipNav dd a {overflow:hidden; display:block; position:absolute; top:-10000px; left:0; z-index:999999; width:100%; font-size:16px; text-align:center}
#skipNav dd a.on {overflow:hidden; position:absolute; top:0; left:0; padding:15px 0; background:#272727; font-weight:bold; color:#fff}