﻿@charset "utf-8";
/*>>>>>>>>>> 공통 <<<<<<<<<<*/

/* 타이틀 */

@media (max-width:1160px) {

}
@media (max-width:767px) {

}

/* 버튼 */
.btn {display:inline-block; height:50px; line-height:50px; padding:0 30px; border:none; border-radius:25px; font-weight:500; font-size:16px}
.btnIco span {display:inline-block;}
.btnIco .icoLink {padding-right:26px; background:url("../images/common/ico-movelink.png") no-repeat right center;}
.btnRed {background:#d41024; color:#fff;}
.btnGreen {background:#87b900; color:#fff;}
.btnBlue {background:#1b3371; color:#fff;}
.btnGray {background:#ccc; color:#666;}

@media (max-width:1160px) {
    .btn {height:40px; padding:0 25px; font-size:14px; line-height:40px;}
}
@media (max-width:767px) {
}

/* 버튼 정렬 */
@media (max-width:1160px) {

}
@media (max-width:767px) {

}

/* 박스 */

@media (max-width:1160px) {
}
@media (max-width:767px) {
}

/* 인풋 */

@media (max-width:1160px) {

}
@media (max-width:767px) {

}

/* 스탭 */

@media (max-width:1160px) {
}
@media (max-width:767px) {

}

/* 정보 영역 */

@media (max-width:1160px) {

}
@media (max-width:767px) {

}

/* 리스트 */

@media (max-width:1160px) {

}
@media (max-width:767px) {

}

/* 인풋 상단 영역 */

@media (max-width:767px) {

}

/* 입력 테이블 */

@media (max-width:1160px) {

}
@media (max-width:767px) {

}

/* 리스트 테이블 */

@media (max-width:1160px) {

}
@media (max-width:767px) {

}

/* ROW 테이블 */

@media (min-width:1161px) {

}
@media (max-width:1160px) {

}
@media (max-width:767px) {

}

/* COL 테이블 */

@media (max-width:1160px) {

}
@media (max-width:767px) {

}

/* 정보 테이블 */

@media (max-width:1160px) {

}
@media (max-width:767px) {

}

/* 페이징 */

@media (max-width:767px) {

}

/* 탭 */
.tabArea > ul:last-child {margin-bottom:0 !important}
.tabArea > ul:after {display:block; content:""; clear:both}
.tabArea > ul li {float:left}
.tabArea > div:not(.infoBox) {display:none}
.tabArea > div.infoBox {display:block !important; margin-bottom:20px !important}
.tabArea.v1 {margin-top:40px}
.tabArea.v1 > ul {display:flex; margin-bottom:25px}
.tabArea.v1 > ul li + li {margin-left:10px}
.tabArea.v1 > ul li a {display:block; padding:0 20px; border-radius:25px; border:1px solid #ccc; min-width:145px; text-align:center; line-height:48px; font-size:16px; color:#333; white-space:nowrap; background:#fff}
.tabArea.v1 > ul li.curr a {border-color:#f26300; color:#fff; background:#f26300}
@media (max-width:1160px) {

}
@media (max-width:767px) {

}

/* 텍스트 */
h2 {font-size:30px; line-height:35px}
.txtC {text-align:center !important; word-break:keep-all}
.txtL {text-align:left !important; word-break:keep-all}
.txtR {text-align:right !important; word-break:keep-all}
.cRed {color:#d41024 !important}
.cBlue {color:#1a2f88 !important}
@media (max-width:1160px) {
    h2 {font-size:25px; line-height:30px}
}
@media (max-width:767px) {
}

/* 팝업 */

@media (max-width:1160px) {

}
@media (max-width:767px) {

}

/* 사이즈 */

@media (max-width:767px) {

}

/* 가리기 */
.hide {position:absolute; top:-9999px; left:-9999px; overflow:hidden; width:1px; height:1px; opacity:0}



/* 디자인스크롤 */
.mCustomScrollbar {-ms-touch-action:pinch-zoom; touch-action:pinch-zoom}
.mCustomScrollbar.mCS_no_scrollbar,
.mCustomScrollbar.mCS_touch_action {-ms-touch-action:auto; touch-action:auto}
.mCustomScrollBox {overflow:hidden; position:relative; height:100%; max-width:100%; outline:none; direction:ltr}
.mCSB_container {overflow:hidden; width:auto; height:auto}
.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {margin-right:0}
.mCS-dir-rtl > .mCSB_inside > .mCSB_container {margin-right:0; margin-left:30px}
.mCS-dir-rtl > .mCSB_inside > .mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {margin-left:0}
.mCSB_scrollTools {position:absolute;top: 0; left:auto; right:0; bottom:0; width:16px; height:auto}
.mCSB_outside + .mCSB_scrollTools {right:-26px}
.mCS-dir-rtl > .mCSB_inside > .mCSB_scrollTools,
.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools {right:auto; left:0}
.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools {left:-26px}
.mCSB_scrollTools .mCSB_draggerContainer {position:absolute; top:0; left:0; bottom:0; right:0; height:auto}
.mCSB_scrollTools a + .mCSB_draggerContainer {margin:20px 0}
.mCSB_scrollTools .mCSB_draggerRail {margin:0 auto; width:1px; height:100%; -webkit-border-radius:16px; -moz-border-radius:16px; border-radius:16px; background:#ddd;}
.mCSB_scrollTools .mCSB_dragger {z-index:1;width: 100%; height:30px; cursor:pointer;}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {position:relative; margin:0 auto; width:4px; height:100%;-webkit-border-radius:16px;-moz-border-radius:16px; border-radius:16px; text-align:center;background: #ddd;}
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar,
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar {width:12px}
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail,
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail {width:8px}
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown {display:block; position:absolute; overflow:hidden; margin:0 auto; height:20px; width:100%; cursor:pointer}
.mCSB_scrollTools .mCSB_buttonDown {bottom:0}

/*>>>>>>>>>> 페이지 <<<<<<<<<<*/

/***  ***/
/*  */

@media (max-width:1160px) {

}
@media (max-width:767px) {

}

/*  */

@media (max-width:767px) {

}
