@charset "utf-8";
/* WRAP */
#wrap {position:relative}

/* HEADER */ 
#header {position:fixed; top:0; left:0; z-index:1000; width:100%; background:#fff}
#header > .inner {position:relative; margin:0 auto; padding:40px 20px; width:1440px; height:140px; max-width:100%; text-align:center}
#header > .inner h1 {position:absolute; top:45px; left:20px; z-index:1000}
#header > .inner h1 a {display:block; width:230px; height:49px; text-indent:-9999px; background:url("../images/common/logo.png") no-repeat center}
#header > .inner .srchArea {position: relative; margin: 0 auto; padding-left:90px; width: 650px; height: 60px; border: 2px solid #000; border-radius: 30px}
#header > .inner .srchArea select,
#header > .inner .srchArea input {height:56px; border:none}
#header > .inner .srchArea select {position:absolute; top:0; left:0; width:90px; border-radius:30px 0 0 30px}
#header > .inner .srchArea input {border-radius:0 30px 30px 0}
#header > .inner .srchArea button {position:absolute; top:0; right:0; width:66px; height:56px; background:url("../images/common/ico-srch.png") no-repeat center; border:none; text-indent:-9999px}
#header > .inner .util {position:absolute; top:40px; right:20px; z-index:0}
#header > .inner .util:after {display:block; content:""; clear:both}
#header > .inner .util > button,
#header > .inner .util .allMenuBtn {display:inline-block; position:relative; z-index:1; vertical-align:top}
#header > .inner .util > button {margin-right:82px; height:60px; line-height:60px; border-radius:30px}
#header > .inner a.allMenuBtn {position:absolute; top:40px; right:20px; z-index:1; display:inline-block; margin-left:20px; width:60px; height:60px; background:url("../images/common/btn-menu-off.png") no-repeat center; text-indent:-9999px}
#header > .inner a.allMenuBtn.open {background:url("../images/common/btn-menu-on.png") no-repeat center}
.allMenu {display:none; position:fixed; top:0; left:0; width:100%; height:100%; z-index:0}
.allMenuList {position:relative; height:100%}
.allMenuList:before {position:absolute; content:""; top:0; left:0; width:100%; height:100%; background:#000; opacity:0.6}
.allMenuList .inner {position:relative; left:0}
.allMenuList .inner > div {width:100%; background:#fff}
.allMenuList h2 { height:104px; background:#eee; line-height:104px; cursor:pointer}
.allMenuList h2 span {display:inline-block; margin:0 auto; padding:0 20px; width:1440px; max-width:100%; font-weight:600; color:#1a3370}
.allMenuList h2 + div ul > li {position:relative}
.allMenuList .inner div + div {border-top:1px solid #fff}
.allMenuList .inner .allMenuInner {display:none}
.allMenuList .inner div > ul > li {margin-top:-1px; padding-top:90px; /*border-top:1px solid #eee;*/ border-bottom:1px solid #eee}
.allMenuList ul li dl {margin:0 auto; padding:0 20px; width:1440px; max-width:100%}
.allMenuList ul li dl dt {position:absolute; top:0; left:0; width:100%; height:90px; line-height:90px; font-size:25px; color:#3c6dde}
.allMenuList ul li dl dt:before {position:absolute; content:""; left:0; bottom:-1px; width:100%; height:1px; background:#eee}
.allMenuList ul li dl dt span {display:inline-block; margin:0 auto; padding:0 20px; width:1440px; max-width:100%; text-align:left; cursor:pointer}
.allMenuList ul li dl dd {display:none; padding-bottom:65px}
.allMenuList ul li dl dd > ul.ddInList {display:flex; flex-wrap:wrap; font-size:20px; color:#000; text-align:left}
.allMenuList ul li dl dd > ul.ddInList > li {flex:1; margin-top:20px; max-width:25%; min-width:25%}
.allMenuList ul li dl dd > ul.ddInList > li > a {display:inline-block; padding-right:28px; width:auto; height:60px; background:url("../images/common/ico-arrow-down.png") no-repeat right center; line-height:60px;}
.allMenuList ul li dl dd > ul.ddInList > li > a.noDepth {background:none}
.allMenuList ul li dl dd > ul {text-align:left}
.allMenuList ul li dl dd > ul li ul li a {display:inline-block; position:relative; padding-left:14px; height:40px; font-size:18px; line-height:40px; color:#666}
.allMenuList ul li dl dd > ul li ul li a:before {position:absolute; content:""; top:50%; left:0; margin-top:-1px; width:4px; height:2px; background:#666}
.allMenuList .mCSB_scrollTools {width:72px}
.allMenuList .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {width:6px; -webkit-border-radius:0; -moz-border-radius:0; border-radius:0; background:#000}
.allMenuList .mCSB_scrollTools .mCSB_draggerRail {width:6px; background:#e7e7e7}

span.accoIcon {position:relative}
span.accoIcon:before {position:absolute; content:""; top:50%; right:20px; width:21px; height:3px}
span.accoIcon:after {position:absolute; content:""; top:50%; right:29px; margin-top:-8px; width:3px; height:21px}
span.accoIcon.red:before,
span.accoIcon.red:after {background:#d41024}
span.accoIcon:before,
span.accoIcon:after {background:#3b6dde}
*.on span.accoIcon:before {background:#b5b5b5}
*.on span.accoIcon:after {display:none}
.depth04 {display:none}
@media (max-width: 1160px) {
    #header > .inner {padding:10px; height:76px}
    #header > .inner h1 {top:23px; left:29px}
    #header > .inner h1 a {width:130px; height:31.5px; background-size: 100% auto}
    #header > .inner .srchArea {display:none}
    #header > .inner .util {top:20px; z-index:1}
    #header > .inner a.allMenuBtn {top:20px; margin-left:12px; width:40px; height:40px; background-size: 100% auto}
    #header > .inner a.allMenuBtn.open {background-size: 100% auto}
    #header > .inner .util > button {display:none; margin-right:55px; height:40px; padding:0 25px; font-size:14px; line-height:40px}
    #header > .inner .util.open > button {z-index:1; display:inline-block}

    .allMenuList:before {display:none}
    .allMenuList .inner div > ul > li {padding-top:76px}
    .allMenuList h2 {height:78px; background:#1a3370; line-height:78px}
    .allMenuList h2 span {font-weight:400; color:#fff}
    .allMenuList .inner .scrollArea {height:380px}
    .allMenuList ul li dl dt {height:76px; font-size:20px; color:#1a3370; line-height:76px}
    .allMenuList ul li dl dt.on span.accoIcon:before, 
    .allMenuList h2.on span.accoIcon:before,
    .allMenuList h2 span.accoIcon:before, 
    .allMenuList h2 span.accoIcon:after,
    .allMenuList ul li dl dt span.accoIcon:before {display:none}
    .allMenuList ul li dl dt span.accoIcon:after {right:24px; margin-top:-4px; width:15px; height:8px; background: url(../images/common/ico-downarrow-m.png) no-repeat center / 100% auto}
    .allMenuList ul li dl dt.on span.accoIcon:after {display:block; -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); transform:rotate(180deg)}
    .allMenuList .mCSB_scrollTools {width:16px}
    .allMenuList .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {width:3px; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; background:#ccc}
    .allMenuList .mCSB_scrollTools .mCSB_draggerRail {width:1px; background:transparent}

    .allMenuList ul li dl {padding:0}
    .allMenuList ul li dl dd {padding-bottom:0}
    .allMenuList ul li dl dd > ul.ddInList {display:block; font-size:18px}
    .allMenuList ul li dl dd > ul.ddInList > li {flex:inherit; margin-top:0; padding:0 20px; max-width:100%; min-width:100%; border-top:1px solid #eee; background:#fff}
    .allMenuList ul li dl dd > ul.ddInList > li.open {background:#f6f6f6}
    .allMenuList ul li dl dd > ul.ddInList > li > a {padding-right:0; width:100%; height:50px; line-height:50px}
    .allMenuList ul li dl dd > ul.ddInList > li.open > a:not(.noDepth) {font-weight:600}
    .allMenuList ul li dl dd > ul.ddInList > li > a:not(.noDepth) {position:relative; width:100%; background:none}
    .allMenuList ul li dl dd > ul.ddInList > li > a:not(.noDepth):before,
    .allMenuList ul li dl dd > ul.ddInList > li > a:not(.noDepth):after {position:absolute; content:""; top:50%; background:#d41024}
    .allMenuList ul li dl dd > ul.ddInList > li > a:not(.noDepth):before {right:10px; width:12px; height:2px}
    .allMenuList ul li dl dd > ul.ddInList > li > a:not(.noDepth):after {right:15px; margin-top:-5px; width:2px; height:12px}
    .allMenuList ul li dl dd > ul.ddInList > li.open > a:not(.noDepth):before {position:absolute; content:""; top:50%; right:10px; width:10px; height:2px; background:#000}
    .allMenuList ul li dl dd > ul.ddInList > li.open > a:not(.noDepth):after {display:none}
    .allMenuList ul li dl dd > ul.ddInList > li.open > a:not(.noDepth) + ul {padding-bottom:15px}
    .allMenuList ul li dl dd > ul.ddInList > li > ul {display:none}
    .allMenuList ul li dl dd > ul li ul li a {width:100%; font-size:14px}

    .depth04 {display:block; position:fixed; top:154px; right:-280px; z-index:1010; width:255px; height:100%; background:#fff; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s}
    .depth04.open {right:0}
    .allMenuList h2 + div ul > li .depth04 > a {height:76px; border-bottom:2px solid #ccc; font-weight:600; font-size:18px; background:url(../images/common/ico-arrow-left.png) no-repeat center left 24px / 10px auto; color:#1a3370; text-align:center; line-height:76px}
    .allMenuList h2 + div ul > li .depth04 > a:before {display:none}
    .allMenuList h2 + div ul > li .depth04 > ul li {padding:0 25px; height:74px; line-height:74px}
    .allMenuList h2 + div ul > li .depth04 > ul li a {font-size:18px; color:#000}
    /*.depth04.open:before {position:fixed; content:""; top:0; left:0; width:100%; height:100%; background:#000; opacity:0.6}*/
    .dim{display:none; position:fixed; content:""; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.6)}
    .dim.on{display:block; z-index:500}
}
@media (max-width: 767px) {

}

/* GNB */
.gnbWrap {position:relative; height:87px; border-top:1px solid #ccc; border-bottom:1px solid #eee; background:#fafafa; z-index:-1;}
.gnbWrap #gnb {margin:0 auto; padding:0 20px; width:1440px; max-width:100%}
.gnbWrap #gnb > ul {display:flex; height:87px; font-size:25px; line-height:87px}
.gnbWrap #gnb > ul > li {flex:1; justify-content:space-between}
.gnbWrap #gnb > ul > li > div {display:none; height:596px; border-bottom:1px solid #eee}
.gnbWrap #gnb > ul.depthList > li > a {display:inline-block; position:relative}
.gnbWrap #gnb > ul.depthList > li:hover > a {font-weight:500; color:#d71d30}
.gnbWrap #gnb > ul.depthList > li:hover > a:before {position:absolute; content:""; left:0; bottom:2px; width:100%; height:3px; background:#d71d30}
.gnbWrap #gnb .subArea {position:absolute; left:0; z-index:1; margin-top:-1px; width:100%; background:#fff}
.gnbWrap #gnb .subArea:before {position:absolute; content:""; top:0; left:0; z-index:-10; width:25%; height:100%; background:#fbfbfb}
.gnbWrap #gnb .subArea .inner {display:flex; margin:0 auto; padding:0 20px; width:1440px; max-width:100%; height:100%}
.gnbWrap #gnb div.titArea {padding-top:50px; width:28%; max-width:390px; background:#fbfbfb url("../images/common/bg-allmenu.png") no-repeat 123px 325px / 224px auto; border-right:1px solid #eee; text-align:left}
.gnbWrap #gnb div.titArea p {padding-top:20px; font-size:14px; line-height:30px; color:#949494}
.gnbWrap #gnb .mCustomScrollbar {width:72%}
.gnbWrap #gnb .mCSB_scrollTools {top:50px; height:83%}
.gnbWrap #gnb ul.depth01 {display:flex; flex-wrap:wrap; border-right:1px solid #eee}
.gnbWrap #gnb ul.depth01 > li {flex:1; padding-top:32px; padding-bottom:32px; max-width:33.3%; min-width:33.3%; border-right:1px solid #eee}
.gnbWrap #gnb ul.depth01 > li:nth-child(3n+0) {border-right:none}
.gnbWrap #gnb ul.depth01 > li > dl > dt {position: relative; margin-bottom:14px; height: 62px; font-size: 20px; font-weight: 500; color: #1a3370; line-height: 62px}
.gnbWrap #gnb ul.depth01 > li > dl > dt:before {position:absolute; content:""; left:30px; bottom:0; width:27px; height:3px; background:#1a3370}
.gnbWrap #gnb ul.depth01 > li > dl > dt,
.gnbWrap #gnb ul.depth01 > li > dl > dd {padding-left:30px}
.gnbWrap #gnb ul.depth01 > li > dl > dd {line-height:44px}
.gnbWrap #gnb ul.depth01 > li > dl > dd > a {display:inline-block; font-weight:500; font-size:16px}
.gnbWrap #gnb ul.depth03 li {font-size:14px; line-height:28px}
.gnbWrap #gnb ul.depth03 li a {display:inline-block; position:relative; padding-left:14px; color:#666}
.gnbWrap #gnb ul.depth03 li a:before {position:absolute; content:""; top:50%; left:0; margin-top:-1px; width:4px; height:2px; background:#666}

@media (max-width: 1600px) {

}
@media (max-width: 1280px) {

}
@media (min-width: 1161px) {

}
@media (max-width: 1160px) {
    .gnbWrap {display:none}
}
@media (max-width: 767px) {

}

/* CONTAINER */
#container.main {margin-top:60px}
.floatTop {position:absolute; top:290px; left:calc(50% + 720px); width:60px; border:1px solid #ccc; border-radius:5px; text-align:center}
.floatTop .fontSize {padding:10px 0; border-bottom:1px solid #ccc}
.floatTop .fontSize span {display:inline-block; padding-top:25px; background:url("../images/common/ico-fontsize.png") no-repeat top center; font-weight:500; font-size:13px; color:#000; line-height:20px;}
.floatTop .fontSize button {width:20px; height:20px; border:1px solid #ccc; background-repeat:no-repeat; background-position:center; text-indent:-9999px}
.floatTop .fontSize button + button {margin-left:-5px}
.floatTop .fontSize button.fontPlus {background-image:url("../images/common/btn-ftsize-plus.png");}
.floatTop .fontSize button.fontMinus {background-image:url("../images/common/btn-ftsize-minus.png");}
.floatTop .lang {padding:10px 0}
.floatTop .lang > span {position:relative; display:inline-block; padding:24px 0 10px; background:url("../images/common/ico-lang.png") no-repeat top center; font-weight:500; font-size:13px; color:#000; line-height:20px; cursor:pointer}
.floatTop .lang > span:after {position:absolute; content:""; right:50%; bottom:0; margin-right:-4px; width:9px; height:6px; background:url("../images/common/ico-arrow-down02.png") no-repeat center bottom}
.floatTop .lang > span.on:after {-webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); transform:rotate(180deg)}
.floatTop .lang ul li a {display:inline-block; width:35px; font-size:13px; line-height:30px; color:#999}
.floatTop .lang ul li + li a {border-top:1px solid #eee}
.floatTop .lang ul li.curr a {font-weight:600; color:#000}

.floatBottom {position:fixed; bottom:20px; left:calc(50% + 720px); z-index:100; width:100px; height:auto; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s}
.floatBottom:after {display:block; content:""; clear:both}
.floatBottom a {display:block; float:right}
.floatBottom a.chatbot {position:relative; margin-bottom:27px; width:100px; height:100px; border:3px solid #1a3370; border-radius:10px; background:#c5d8ff; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s}
.floatBottom a.chatbot:after {position:absolute; content:""; right:0; bottom:0; width:91px; height:90px; background:url("../images/common/img-chatbot.png") no-repeat right 1px bottom}
.floatBottom a.chatbot span {display:inline-block; padding:27px 0; width:130px; background:url("../images/common/bg-chatbot.png") no-repeat center; font-size:14px; color:#fff; opacity:0;}
.floatBottom a.chatbot.on {padding-left:20px; width:260px; background:#1a3370;}
.floatBottom a.chatbot.on span {opacity:1;}
.floatBottom .btnScrolltop {margin:0 17.5px 0 0; width:65px; height:65px; text-indent:-9999px; background:url("../images/common/btn-scrolltop.png") no-repeat 0 0}
@media (max-width: 1160px) {
    #container.main {margin-top:20px}
}
@media (max-width: 767px) {

}

/* FOOTER */
#footer {margin-top:65px; border-top:1px solid #ccc}
#footer .inner {margin:0 auto; padding:35px 20px 48px; width:1440px; max-width:100%}
#footer .footTop {position:relative; padding-bottom:8px}
#footer .footTop:after {display:block; content:""; clear:both} 
#footer .footTop > div {float:left}
#footer .footTop > div + div {float:right}
#footer .footUtil > ul li {display:inline-block}
#footer .footUtil > ul.link li {position:relative; padding: 0 40px; line-height:45px}
#footer .footUtil > ul.link li:first-child {padding-left:0}
#footer .footUtil > ul.link li + li:before {position:absolute; content:""; top:50%; left:0; margin-top:-8px; width:1px; height:16px; background:#ccc}
#footer .footUtil > ul.link li a {font-weight:500; color:#000} 
#footer .footUtil > ul.link li a.cRed {font-weight:700}
#footer .footUtil > ul + ul li,
#footer .copy {font-size:13px; line-height:22px; color:#666}
#footer .footUtil > ul + ul {margin-top:18px} 
#footer .footUtil > ul + ul li {padding-right:20px}
#footer .footUtil > ul + ul li:last-child {padding-right:0}
#footer .right > p > a {display:inline-block; padding-left:57px; width:125px; height:45px; border-radius:5px; background:#ffeaec url("../images/common/ico-footerlink01.png") no-repeat left 24px center / auto 16px; font-weight:500; line-height:45px; color:#d41024}
#footer .right > p > a + a {margin-left:9px; padding-left:47px;  background:#e7efff url("../images/common/ico-footerlink02.png") no-repeat left 25px center / auto 16px; color:#1a3370}
#footer .right .familySite {position:absolute; right:0; bottom:8px; z-index:1; width:260px}
#footer .right .familySite > a {display:block; padding:0 50px 0 22px; border-radius:5px; border:1px solid #ccc; width:100%; line-height:45px; background:url("../images/common/ico-arrow-down.png") no-repeat right 25px center / 10px auto; color:#666}
#footer .right .familySite ul {display:none; position:absolute; bottom:44px; left:0; border-radius:5px 5px 0 0; border:1px solid #ccc; width:100%; background:#fff}
#footer .right .familySite ul li + li {border-top:1px solid #ccc}
#footer .right .familySite ul li a {display:block; padding:0 18px; line-height:40px; font-size:14px; color:#000}
#footer .right .familySite.on > a {background-image:url("../images/common/ico-arrow-up.png")}
#footer .footBottom {position:relative; margin-top:43px}
#footer .logo {position:absolute; top:0; left:0; width:180px; height:38px; text-indent:-9999px; background:url("../images/common/logo-footer.png") no-repeat center}
#footer .symbol {position:absolute; top:0; right:0; padding-left:73px; width:195px; line-height:38px; border-radius:5px; border:1px solid #cecece; background:#f9f9f9 url("../images/common/img-taegugki.png") no-repeat left center / 57px auto; font-size:14px; color:#666}
#footer .footBottom > div {text-align:center}
#footer .footBottom > div ul li {display:inline-block; vertical-align:top}
#footer .footBottom > div ul li + li {padding-left:10px}
#footer .footBottom > div ul li a span{display:inline-block; padding-left:7px; line-height:38px; font-size:13px; color:#888}
@media (max-width: 1030px) {
    #footer .footTop > div,
    #footer .footTop > div + div {float:inherit}
    #footer .right {padding-top:20px}
}
@media (max-width: 767px) {
    #footer {margin-top:50px}
    #footer .inner {padding:25px 30px 32px}
    #footer .footTop {padding-bottom:10px}
    #footer .footTop > div + div {padding-top:25px; width:100%}
    #footer .footUtil > ul.link li {padding:0 15px; line-height:32px}
    #footer .footUtil > ul.link li a {font-size:15px}
    #footer .footUtil > ul.link li:nth-child(3) {padding-left:0}
    #footer .footUtil > ul.link li:nth-child(3):before {display:none}
    #footer .footUtil > ul + ul {margin-top:10px; line-height:18px} 
    #footer .footUtil > ul + ul li {font-size:12px} 
    #footer .footUtil > ul + ul li:nth-child(3) {padding-left:0}
    #footer .copy {display:none}
    #footer .right > p > a { max-width: calc(50% - 7px); min-width: calc(50% - 7px)}
    #footer .right .familySite {position:static; margin-top:10px; width:100%}
    #footer .right .familySite a {font-size:15px}
    #footer .footBottom {margin-top:75px}
    #footer .logo {width:130px; height:27px; background-size:100% auto}
    #footer .symbol {top:-75px; padding-left:60px; width:100%; background-size:60px auto; line-height:40px; text-align:center}
    #footer .footBottom > div {text-align:right}
    #footer .footBottom > div ul li + li {padding-left:3px}
    #footer .footBottom > div ul li a img {width:auto; height:23px}
    #footer .footBottom > div ul li a span {display:none}
}

