﻿@charset "utf-8";
/* 메인 공통 */
.section .inner {margin:0 auto; padding:0 30px; width:1460px; max-width:100%}
.section h2 {padding-bottom:25px; font-weight:500; color:#000}
.mShow {display:none}
.mNone {display:block}

@media (max-width: 767px) {
    .section h2 {padding-bottom:15px}
    .mShow {display:block}
    .mNone {display:none}
}

/* 메인 섹션 1 */
.section.v1 {padding-bottom:27px}
.section.v1 .flexArea {display:flex; justify-content:space-between}
.section.v1 .flexArea > div {flex:auto}
.section.v1 .flexArea > div {max-width:calc(65% - 20px); min-width:calc(65% - 20px)}
.section.v1 .flexArea > div + div {max-width:calc(35% - 20px); min-width:calc(35% - 20px)}
.section.v1 .visualSwiper,
.section.v1 .tabArea {overflow:hidden}
.section.v1 .visualSwiper {position:relative}
.section.v1 .visualSwiper img {width:100%; height:auto; border-radius:10px}

.section.v1 .slider .swiper-slide p {position:absolute; top:50%; left:50%; width:100%; padding-top:63px; background-repeat:no-repeat; background-size:50px auto; background-position:top center; font-weight:500; line-height:20px; text-align:center; -webkit-transform:translate(-50%,-50%); -moz-transform:translate(-50%,-50%); transform:translate(-50%,-50%)}
.section.v1 .btnPrev.visual,
.section.v1 .btnNext.visual {position:absolute; top:50%; z-index:1; margin-top:-15px; width:30px; height:60px; border:none; text-indent:-9999px}
.section.v1 .btnPrev.visual {left:40px; background:url("../images/main/btn-visual-prev.png") no-repeat center/ 100% auto}
.section.v1 .btnNext.visual {right:40px; background:url("../images/main/btn-visual-next.png") no-repeat center/ 100% auto}
.section.v1 .visualSwiper .swiper-pagination-bullets {left:13.3%; bottom:95px}
.section.v1 .visualSwiper .swiper-pagination-bullet {margin:0 7px 0 0; width:9px; height:9px;}
.section.v1 .visualSwiper .swiper-pagination-bullet-active {width:9px; border-radius:100%; background:#3c6dde}

.section.v1 .tabMoreBtn {position:absolute; top:13px; right:0; width:18px; height:18px; background: url("../images/main/btn-plus.png") no-repeat center / 18px auto; text-indent:-9999px}
.section.v1 .tabArea {position:relative; margin-top:-7px; margin-right:1px; padding-right:2px}
.section.v1 .tabArea > div:not(.infoBox) > div { padding-bottom:25px}
.section.v1 .tabArea > ul {display:flex; align-items:baseline; margin:0 auto 20px}
.section.v1 .tabArea > ul li a {margin-right:46px; font-weight:400; font-size:20px; color:#999}
.section.v1 .tabArea > ul li.curr a {font-weight:600; font-size:25px; color:#000}
.section.v1 .tabArea .sliderBtnWrap {position:absolute; top:18px; right:40px; width:50px}
.section.v1 .tabArea .menuSwiper,
.section.v1 .tabArea .myMenuSwiper {position:relative; height:100%; background:#ccc}
.section.v1 .tabArea .menuSwiper:before ,
.section.v1 .tabArea .myMenuSwiper:before {position:absolute; content:""; top:0; left:0; width:100%; height:100%; border-radius:10px; border:1px solid #ccc; z-index:10}
.section.v1 .tabArea .swiper-container-multirow > .swiper-wrapper .swiper-slide {background:#fff}
.section.v1 .btnPrev.favorite,
.section.v1 .btnNext.favorite,
.section.v1 .btnPrev.myMenu,
.section.v1 .btnNext.myMenu {position:absolute; top:50%; z-index:1; margin-top:-6px; width:12px; height:20px; border:none; text-indent:-9999px}
.section.v1 .btnPrev.favorite,
.section.v1 .btnPrev.myMenu {left:0; background:url("../images/main/btn-tabmenu-prev.png") no-repeat center/ 100% auto}
.section.v1 .btnNext.favorite,
.section.v1 .btnNext.myMenu {right:0; background:url("../images/main/btn-tabmenu-next.png") no-repeat center/ 100% auto}
.section.v1 .btnNext.favorite.swiper-button-disabled,
.section.v1 .btnNext.myMenu.swiper-button-disabled,
.section.v1 .btnPrev.favorite.swiper-button-disabled,
.section.v1 .btnPrev.myMenu.swiper-button-disabled  {opacity:0.2}
.section.v1 .tabArea .swiper-pagination-fraction {bottom:-11px; font-size:13px; color:#999; text-align:right; letter-spacing:-2px}
.section.v1 .tabArea .swiper-pagination-fraction:after {content: " page"; letter-spacing:-0.7px}
.section.v1 .tabArea .swiper-pagination-fraction .swiper-pagination-current {font-weight:500; color:#000}
@media (max-width: 1160px) {
    .section.v1 .tabArea > ul {margin:0 auto 14px}
    .section.v1 .flexArea > div {max-width:calc(55% - 20px); min-width:calc(45% - 20px)}
    .section.v1 .flexArea > div + div {max-width:calc(45% - 20px); min-width:calc(45% - 20px)}
    .section.v1 .slider .swiper-slide p {padding-top:35px; background-size:33px auto; line-height:17px; font-size:15px}
    .section.v1 .btnPrev.visual, 
    .section.v1 .btnNext.visual {width:20px; height:40px}
    .section.v1 .btnNext.visual {right:10px}
    .section.v1 .btnPrev.visual {left:10px}
}
@media (max-width: 940px) {
    .section.v1 .tabArea > ul {margin:0 auto 10px}
    .section.v1 .tabArea > ul li.curr a {font-size:18px}
    .section.v1 .tabArea > ul li a {margin-right:24px; font-size:14px}
    .section.v1 .tabMoreBtn {top:8px; right:0; width:15px; height:15px; background-size:15px auto}
    .section.v1 .tabArea .sliderBtnWrap {top:14px; right:30px; width:35px}
    .section.v1 .btnPrev.favorite, 
    .section.v1 .btnNext.favorite, 
    .section.v1 .btnPrev.myMenu, 
    .section.v1 .btnNext.myMenu {width:9px; height:15px}
    .section.v1 .slider .swiper-slide p {padding-top:23px; background-size:21px auto; line-height:14px; font-size:12px}
    .section.v1 .visualSwiper .swiper-pagination-bullets {bottom:65px}
}
@media (max-width: 767px) {
    .section.v1 {margin-top:-20px; padding-bottom:15px}
    .section.v1 .inner {padding:0}
    .section.v1 .visualSwiper img {border-radius:0}
    .section.v1 .btnNext.visual,
    .section.v1 .btnPrev.visual {display:none}
    .section.v1 .flexArea {display:block}
    .section.v1 .flexArea > div,
    .section.v1 .flexArea > div + div {max-width:100%; min-height:100%}
    .section.v1 .flexArea > div + div {padding:0 30px}
    .section.v1 .tabArea {margin-top:35px}
    .section.v1 .tabArea .swiper-pagination-fraction {display:none}
    .section.v1 .tabArea .swiper-container-multirow > .swiper-wrapper .swiper-slide {height:140px !important}
    .section.v1 .slider .swiper-slide p {padding-top:50px; background-size:45px auto; line-height:20px; font-size:14px}
    .section.v1 .visualSwiper .swiper-pagination-bullets { left:7.5%; bottom: 50%}
}

/* 메인 섹션 2 */
.section.v2 {padding-bottom:70px}
.section.v2 .inner {padding:0; width:1490px;}
.section.v2 .tabArea {position:relative; overflow:hidden}
.section.v2 .tabMoreBtn {position:absolute; top:13px; right:45px; width:18px; height:18px; background: url("../images/main/btn-plus.png") no-repeat center / 18px auto; text-indent:-9999px}
.section.v2 .tabArea > ul {display:flex; align-items:baseline; margin:0 auto; padding:0 30px; width:1460px; max-width:100%; }
.section.v2 .tabArea > ul li a {margin-right:46px; font-weight:400; font-size:20px; color:#999}
.section.v2 .tabArea > ul li.curr a {font-weight:600; font-size:25px; color:#000}
.section.v2 .tabArea > div {margin-top:24px}
.section.v2 .tabArea > div .slider {position:relative; margin: 0 45px; border-radius:10px; border:1px solid #ccc; overflow:hidden}
.section.v2 .tabArea > div .slider:before {position:absolute; content:""; top:0; left:-1px; z-index:2; width:5px; height:100%; background:#fafafa}
.section.v2 .tabArea > div .swiper-wrapper {border: 1px solid transparent}
.section.v2 .tabArea > div .swiper-wrapper a + a {border-left:1px solid #ccc}
.section.v2 .slider .swiper-slide {padding:30px 25px 30px 30px; background:#fafafa}
.section.v2 .cate {display:inline-block; padding:0 30px; font-size:16px; line-height:46px; color:#fff}
.section.v2 .cate.blue {background:#3c6dde}
.section.v2 .cate.red {background: #d41024}
.section.v2 .cate.black {background:#000}
.section.v2 .slider .swiper-slide p {margin:15px 0 50px; width:100%; font-size:20px; line-height:30px; color:#000; letter-spacing:-1px; word-break:keep-all; overflow:hidden; text-overflow:ellipsis; -webkit-line-clamp:2; display:-webkit-box; -webkit-box-orient:vertical}
.section.v2 .slider .swiper-slide > div {display:flex; justify-content:space-between}
.section.v2 .slider .swiper-slide > div span {font-size:14px; color:#999}
.section.v2 .slider .swiper-slide > div span + span {color:#000}
.section.v2 .tabBtnPrev,
.section.v2 .tabBtnNext {position:absolute; top:50%; margin-top:15px; width:17px; height:30px; border:none; text-indent:-9999px}
.section.v2 .tabBtnPrev {left:0; background:url("../images/main/btn-tabboard-prev.png") no-repeat center/ 100% auto}
.section.v2 .tabBtnNext {right:0; background:url("../images/main/btn-tabboard-next.png") no-repeat center/ 100% auto}
@media (max-width: 1160px) {
    .section.v2 .tabArea > div .slider {margin:0 30px}
}
@media (max-width: 940px) {
    .section.v2 {padding-bottom:35px}
    .section.v2 .tabMoreBtn {top:8px; right:28px; width:15px; height:15px; background-size:15px auto}
    .section.v2 .tabArea > div {margin-top:15px}
    .section.v2 .tabArea > div > div {overflow-x:scroll; -ms-overflow-style:none; scrollbar-width:none}
    .section.v2 .tabArea > div > div::-webkit-scrollbar {display:none}
    .section.v2 .tabArea > ul li.curr a {font-size:18px}
    .section.v2 .tabArea > ul li a {margin-right:24px; font-size:14px}
    .section.v2 .tabArea > div .slider {margin:0 30px; width:1575px}
    .section.v2 .slider .swiper-slide {padding:25px 20px 25px 25px; max-width:315px}
    .section.v2 .slider .swiper-slide p {margin:15px 0 25px; height:52px; line-height:25px; font-size:16px}
    .section.v2 .cate {padding:0 25px; line-height:35px; font-size:14px}
    .section.v2 .tabBtnPrev, 
    .section.v2 .tabBtnNext {display:none}
}

/* 메인 섹션 3 */
.section.v3 {padding-bottom:57px}
.section.v3 .flexArea {display:flex; height:320px}
.section.v3 .flexArea > div {flex:1; max-width:50%; min-width:50%; height:100%; border-radius:0 10px 10px 0}
.section.v3 .flexArea > div .bannerSwiper {position:relative; height:100%; border-radius:10px 0 0 10px; background:#ffa192; overflow: hidden}
.section.v3 .bannerSwiper .swiper-slide {background-repeat:no-repeat; background-position:right 24px bottom -14px}
.section.v3 .bannerSwiper .swiper-slide p {position:absolute; top:47px; left:35px}  
.section.v3 .bannerSwiper .swiper-slide p > span {display:block; padding-top:34px; line-height:25px}
.section.v3 .bannerSwiper .swiper-slide p span.cBlue {font-weight:600}
.section.v3 .swiper-pagination-bullets {left:45px; bottom:50px}
.section.v3 .bannerSwiper .swiper-pagination-bullet {margin:0 12px 0 0; width:12px; height:12px;}
.section.v3 .bannerSwiper .swiper-pagination-bullet-active {width:12px; border-radius:100%; background:#000}
.section.v3 .csBanner {background:#1a3370 url("../images/main/bg-csbanner03.png") no-repeat right bottom / 340px auto; color:#fff}
.section.v3 .csBanner > div {position:relative; padding:45px 0 45px 45px; height:100%}
.section.v3 .csBanner > div p {font-weight:600; font-size:25px}
.section.v3 .csBanner > div p span {font-weight:400; font-size:18px}
.section.v3 .csBanner > div p + p {position:absolute; left:45px; bottom:55px; width:100%}
.section.v3 .csBanner span.time {font-weight:300}
.section.v3 .csBanner strong {display:block; font-weight:500; font-size:45px; color:#ffdf00; letter-spacing:0;}
@media (max-width: 1160px) {
    .section.v3 .flexArea {height:275px}
    .section.v3 .bannerSwiper .swiper-slide {background-size:245px auto}
    .section.v3 .bannerSwiper .swiper-slide p {top:30px; left:27px}
    .section.v3 .bannerSwiper .swiper-slide p img {width:184px}
    .section.v3 .bannerSwiper .swiper-slide p span {font-size:14px}
    .section.v3 .bannerSwiper .swiper-slide p > span {padding-top:15px}
    .section.v3 .bannerSwiper .swiper-slide p span > span,
    .section.v3 .bannerSwiper .swiper-slide p span br {display:block; height:23px; line-height:23px}
    .section.v3 .csBanner {background-size:260px auto}
    .section.v3 .csBanner > div {padding:35px 0 35px 35px}
    .section.v3 .csBanner > div p {font-weight:500; font-size:18px}
    .section.v3 .csBanner > div p + p {left:35px; bottom:35px}
    .section.v3 .csBanner > div p span {display:block; padding-top:6px; font-size:14px}
    .section.v3 .csBanner span.time {line-height:23px}
    .section.v3 .csBanner span.time span,
    .section.v3 .csBanner span.time br {display:block}
    .section.v3 .csBanner strong {font-weight:500; font-size:28px; letter-spacing:0.5px;}
    .section.v3 .swiper-pagination-bullets {left:28px; bottom:30px}
    .section.v3 .bannerSwiper .swiper-pagination-bullet {margin:0 8px 0 0; width:8px; height:8px}
    .section.v3 .bannerSwiper .swiper-pagination-bullet-active {width:8px}
}
@media (max-width: 940px) {
    .section.v3 .bannerSwiper .swiper-slide {background-position:right -16px bottom -34px}
}
@media (max-width: 767px) {
    .section.v3 {padding-bottom:40px}
    .section.v3 .inner {padding:0}
    .section.v3 .flexArea {display:block; height:100%}
    .section.v3 .flexArea > div {max-width:100%; min-width:100%; height:275px; border-radius:0}
    .section.v3 .flexArea > div .bannerSwiper {border-radius:0}
    .section.v3 .bannerSwiper .swiper-slide {background-size:225px auto; background-position:right -10px bottom -14px}
    .section.v3 .csBanner {background-size: 240px auto; background-position: right -15px bottom}
    .section.v3 .csBanner > div {padding:30px 0 30px 30px}
    .section.v3 .csBanner > div p + p {left:30px}
}

/* 메인 섹션 4 */
.section.v4 {padding-bottom:80px}
.section.v4 .linkList {display:flex; justify-content:space-between; border:1px solid #eee; border-radius:10px}
.section.v4 .linkList li {flex:1; max-width:16.6%; min-width:157px}
.section.v4 .linkList li + li {border-left:1px solid #eee}
.section.v4 .linkList li p {padding:34px 0 15px; font-weight:500; font-size:18px}
.section.v4 .linkList li img {width:100%}
@media (max-width: 940px) {
    .section.v4 {padding-bottom:40px}
    .section.v4 .inner {padding:0}
    .section.v4 h2 {padding-left:30px; padding-right:30px}
    .section.v4 .inner > div {padding-right:30px; overflow-x:scroll; -ms-overflow-style:none; scrollbar-width:none}
    .section.v4 .inner > div::-webkit-scrollbar {display:none}
    .section.v4 .linkList {margin-left: 30px; min-width: 940px}
    .section.v4 .linkList li p {padding:26px 0 13px; font-size:15px}
}

/* 메인 섹션 5 */
.section.v5 {padding-bottom:80px}
.section.v5 .flexArea {display:flex; justify-content:space-between}
.section.v5 .flexArea > div {flex:1; max-width:calc(50% - 32px); min-width:calc(50% - 32px)}
.section.v5 .flexArea > div ul {display:flex; border:1px solid #eee; border-radius:10px}
.section.v5 .flexArea > div ul li {flex:1}
.section.v5 .flexArea > div .introduceList li {padding:26px 0 29px; max-width:25%; min-width:130px}
.section.v5 .flexArea > div .introduceList li + li {border-left:1px solid #eee}
.section.v5 .flexArea > div .introduceList li p {padding-bottom:14px; font-weight:500; font-size:18px}
.section.v5 .flexArea > div .infoList {flex-wrap:wrap}
.section.v5 .flexArea > div .infoList li {max-width:50%; min-width:50%; line-height:80px}
.section.v5 .flexArea > div .infoList li:nth-child(even) {border-left:1px solid #eee}
.section.v5 .flexArea > div .infoList li:nth-child(-n+2) {border-bottom:1px solid #eee}
.section.v5 .flexArea > div .infoList li a {display:inline-block; padding:0 38px 0 80px; width:100%; background-repeat:no-repeat; background-position:left 30px center,right 30px center; background-size:32px auto, 8px auto; font-weight:500; font-size:18px}
.section.v5 .flexArea > div .infoList li:nth-child(1) a {background-image:url("../images/main/ico-info05.png"), url("../images/main/ico-arrow-left.png")}
.section.v5 .flexArea > div .infoList li:nth-child(2) a {background-image:url("../images/main/ico-info06.png"), url("../images/main/ico-arrow-left.png")}
.section.v5 .flexArea > div .infoList li:nth-child(3) a {background-image:url("../images/main/ico-info07.png"), url("../images/main/ico-arrow-left.png")}
.section.v5 .flexArea > div .infoList li:nth-child(4) a {background-image:url("../images/main/ico-info08.png"), url("../images/main/ico-arrow-left.png")}
@media (max-width: 1400px) {
    .section.v5 .flexArea > div .infoList li a {padding:0 28px 0 55px; background-position:left 16px center, right 15px center; font-size:16px}
}
@media (max-width: 1160px) {
    .section.v5 .flexArea {display:block}
    .section.v5 .flexArea > div {max-width:100%; min-width:100%}
    .section.v5 .flexArea > div .infoList {margin-top:20px}
}
@media (max-width: 767px) {
    .section.v5 {padding-bottom:40px}
    .section.v5 .inner {padding:0;}
    .section.v5 .flexArea > div {padding-left:30px; overflow-x:scroll; -ms-overflow-style:none; scrollbar-width:none}
    .section.v5 .flexArea > div::-webkit-scrollbar {display:none}
    .section.v5 .flexArea > div .introduceList {margin-right:30px; min-width: 520px}
    .section.v5 .flexArea > div .introduceList li {padding:20px 0 24px}
    .section.v5 .flexArea > div .introduceList li p {font-size:14px}
    .section.v5 .flexArea > div .introduceList li img {width:60px; height:auto}
    .section.v5 h2,
    .section.v5 .flexArea > div + div {padding-left:30px; padding-right:30px}
    .section.v5 .flexArea > div .infoList {display:block}
    .section.v5 .flexArea > div .infoList li {max-width:100%; min-width:100%; line-height:60px}
    .section.v5 .flexArea > div .infoList li:nth-child(even) {border-left:none}
    .section.v5 .flexArea > div .infoList li:nth-child(-n+3) {border-bottom:1px solid #eee}
    .section.v5 .flexArea > div .infoList li a {background-position:left 19px center, right 15px center; background-size:26px auto, 8px auto; font-size:14px}
}

/* 메인 섹션 6 */
.section.v6 .swiper-slide {max-width:428px}
.section.v6 .swiper-slide img {width:100%; height:auto}
.section.v6 .swiper-slide p {padding:25px 0 8px; font-weight:600; font-size:20px}
.section.v6 .swiper-slide span {display:inline-block; padding-right:27px; background:url("../images/main/btn-arrow-gray.png") no-repeat right 7px / 8px auto; color:#666}
@media (max-width: 1160px) {
    .section.v6 .swiper-slide {max-width:385px}
    .section.v6 .swiper-slide p {padding:20px 0 8px; font-size:15px}
    .section.v6 .swiper-slide span {background-position:right 4px; font-size:13px}
}
@media (max-width: 767px) {
    .section.v6 .swiper-slide {max-width:239px}
}
