﻿@charset "utf-8";
/*>>>>>>>>>> 공통 <<<<<<<<<<*/
.mShow {display:none}
.mNone {display:block}
/* 타이틀 */

@media (max-width:1160px) {

}
@media (max-width:767px) {
    .mShow {display:block}
    .mNone {display:none}
}

/* 버튼 */
.btnArea {margin-bottom:20px}
.btn {display:inline-block; line-height:60px; padding:0 35px; border:none; border-radius:30px; font-weight:500; font-size:16px}
.btnS {line-height:50px; padding:0 30px; border-radius:30px}
.btnIco span {display:inline-block;}
.btnIco .icoLink {padding-right:26px; background:url("../images/common/ico-movelink.png") no-repeat right center;}
.btnIco .icoSubmit {padding-left:42px; background:url("../images/ico-submit.png") no-repeat left center;}
.btnRed {background:#d41024; color:#fff;}
.btnGreen {background:#87b900; color:#fff;}
.btnBlue {border-color:#1b3371; background:#1b3371; color:#fff;}
.btnMint {border-color:#33cbcc; background:#33cbcc; color:#000;}
.btnGray {background:#ccc; color:#666;}
.btnCirIcon {padding:0; width:40px; height:40px; line-height:40px; border:none; border-radius:100%; text-indent:-9999px; vertical-align:top}
.btnCirIcon.print {background:#000 url("../images/btn-print.png") no-repeat}
.btnS.btnCirIcon.detail {width:50px; height:50px; background:#999 url("../images/common/ico-srch-w.png") no-repeat center /22px auto}
.btn.btnCirIcon.detail {width:60px; height:60px; line-height:60px; background:#999 url("../images/common/ico-srch-w.png") no-repeat center /24px auto} 
.btnB {line-height:55px; border:2px solid #000}
.btnB.black {border-color:#000 !important; background:#fff}
.btnB.gray {border-color:#ccc !important; background:#fff; color:#666}
.btnBottomArea {padding:30px 0 0; text-align:center}

@media (max-width:1160px) {
    .btn {height:50px; padding:0 20px; font-size:14px; line-height:50px;}
    .btnS {height:40px; padding:0 25px; font-size:14px; line-height:40px;}
    .btnB {line-height:46px}
}
@media (max-width:940px) {
    .btnB {height:45px; line-height:41px;}
    .btn.btnCirIcon.detail {width:45px; height:45px; line-height:45px; background-size: 20px auto;}
}
@media (max-width:767px) {
    .btnArea.fullW {margin:25px 0 15px}
    .btnArea.fullW .btn {width:100%}
    .btnB {padding:0 15px; height:36px; line-height:32px; border:1px solid #000}
    .btn.btnCirIcon.detail {margin-top:0; padding:0; width:36px; height:36px; line-height:36px; background-size:19px auto}
}

/* 박스 */
.infoBox {margin-bottom:50px; padding:40px 50px; border-radius:10px; background:#e1fafa}
@media (max-width:940px) {
    .infoBox {margin-bottom:25px; padding:20px 25px}
}
@media (max-width:767px) {
    .infoBox {padding:20px}
}

/* 인풋 */
.checkbox {display:inline-block; position:relative}
.checkbox input {position:absolute; top:0; left:0; width:100%; height:100%; opacity:0}
.checkbox input + label {display:block; line-height:30px; font-size:16px; font-weight:400; background:no-repeat left center; transition:all 0.2s; -webkit-transition:all 0.2s; -moz-transition:all 0.2s}
.checkbox input[type=checkbox] + label {padding-left:40px; background-image:url("../images/common/checkbox-off.png")}
.checkbox input[type=checkbox]:checked + label {background-image:url("../images/common/checkbox-on.png")}
.checkbox input[type=radio] + label {padding-left:30px; background-image:url("../images/common/radio-off.png")}
.checkbox input[type=radio]:checked + label {background-image:url("../images/common/radio-on.png")}
.checkbox.only input + label {padding:0; width:30px; height:30px; text-indent:-9999px}
.checkboxWrap {margin:0 -20px}
.checkboxWrap .checkbox {display:inline-block; margin:0 20px}
.flex {display:flex; flex-direction:row; align-items:center; flex-wrap:wrap}
.flex.between {justify-content:space-between}
.flex.top {align-items:flex-start}
.flex div,
.flex p {flex:1}
.flex button {white-space:nowrap}
.flex .msg {display:flex; align-items:center; flex:none; margin-left:20px}
.flex .txt {display:flex; align-items:center; margin:0 0 0 10px}
.flex .txt:first-child {margin:0}
.flex > * + * {margin-left:10px}
.multi > p {margin-top:10px}
.flex > select {max-width:130px}
.date {display:inline-block; max-width:100%; width:350px}
.date input {margin-right:10px; width:calc(100% - 70px); background-color:#eee !important}
@media (max-width:940px) {
    .date img {height:45px}
}
@media (max-width:767px) {
    .flex.moBlock {flex-direction:column}
    .flex.moBlock > * {width:100%}
    .flex.moBlock > * + * {margin-top:10px}
    .flex > * {margin-left:0; /*width:100%*/}
    .flex button {margin-left:10px}
    .flex.moBlock button {margin-top:7px; margin-left:0}
    .checkbox input + label {font-size:14px}
    .date img {height:36px}
}

/* 스탭 */
.step {margin:30px auto 65px; padding:30px 0; border-radius:10px; background-color:#eafafa; text-align:center}
.step ul {display:inline-block}
.step ul li {position:relative; display:inline-block; padding:3px 100px 5px 80px; color:#666}
.step ul li:last-child {padding-right:0}
.step ul li:before {position:absolute; content:""; top:0; left:0; width:60px; height:60px; border-radius:100%; background-color:#fff; background-repeat:no-repeat; background-size:100% auto; background-position:center}
.step ul li:after {position:absolute; content:""; top:50%; right:50px; margin-top:-7px; width:9px; height:15px; background:url("../images/ico-steparrow-off.png") no-repeat center/100% auto}
.step ul li:last-child:after {display:none}
.step ul li > div {text-align:left}
.step ul li span {font-weight:500; font-size:13px; letter-spacing:2.3px;}
.step ul li p {font-size:20px}
.step ul li.curr:after {background:url("../images/ico-steparrow-on.png") no-repeat center/100% auto}
.step ul li.curr span,
.step ul li.curr p {color:#000}
.step ul li.curr span {font-weight:600}
.step ul li.curr p {font-weight:500}

/* 미수령금 통합신청 step */
.step.v1 ul li:first-child:before {background-image:url("../images/ico-step01-off.png")}
.step.v1 ul li.curr:first-child:before {background-image:url("../images/ico-step01-on.png")}
.step.v1 ul li:nth-child(2):before {background-image:url("../images/ico-step02-off.png")}
.step.v1 ul li.curr:nth-child(2):before {background-image:url("../images/ico-step02-off.png")}
.step.v1 ul li:nth-child(3):before {background-image:url("../images/ico-step03-off.png")}
.step.v1 ul li.curr:nth-child(3):before {background-image:url("../images/ico-step03-off.png")}

/* 미수령금 통합신청 서비스선택 step */
.step.v2 ul li:first-child:before {background-image:url("../images/ico-step04-off.png")}
.step.v2 ul li.curr:first-child:before {background-image:url("../images/ico-step04-on.png")}
.step.v2 ul li:nth-child(2):before {background-image:url("../images/ico-step05-off.png")}
.step.v2 ul li.curr:nth-child(2):before {background-image:url("../images/ico-step05-on.png")}
.step.v2 ul li:nth-child(3):before {background-image:url("../images/ico-step06-off.png")}
.step.v2 ul li.curr:nth-child(3):before {background-image:url("../images/ico-step06-on.png")}
@media (max-width:940px) {
    .step {margin:15px auto 20px; padding:25px 20px}
    .step ul li {padding:65px 0 0}
    /*.step ul li + li {margin-left:56px}*/
    .step ul li:before {left:50%; margin-left:-25px; width:50px; height:50px; background-position:left center}
    .step ul li:after {right:-35px}
    .step ul li > div {text-align:center}
    .step ul li span {font-size:12px}
    .step ul li p {line-height:18px; font-size:16px}
}
@media (max-width:767px) {
    .step ul li + li {margin-left:38px}
    .step ul li:after {right:-25px}
}

/* 정보 영역 */

@media (max-width:1160px) {

}
@media (max-width:767px) {

}

/* 리스트 */
.infoArea dl.dotLIst {margin-top:20px}
dl.dotLIst dt {position:relative; margin-bottom:5px; padding-left:20px; line-height:25px; font-weight:600; font-size:20px}
dl.dotLIst dt:before {position:absolute; content:""; top:50%; left:0; margin-top:-3px; width:6px; height:6px; background:#87b900}
dl.dotLIst dd {padding-left:20px; line-height:30px}
ul.dashList li {position:relative; padding-left:17px; line-height:40px; font-size:18px}
ul.dashList li:before {position:absolute; content:""; top:19px; left:0; width:5px; height:2px; background:#000}
@media (max-width:940px) {
    ul.dashList li {line-height:30px}
    ul.dashList li:before {top:14px}
    ul.dashList li {line-height:25px; font-size:16px}
}
@media (max-width:767px) {
    dl.dotLIst dt {line-height:20px; font-size:17px}
    dl.dotLIst dd {line-height:22px}
    ul.dashList li {padding-left:12px; line-height:20px; font-size:14px}
    ul.dashList li:before {top:10px}
}

/* 입력 테이블 */
.inputTable {border-top:2px solid #33cbcc; border-bottom:1px solid #ccc}
.inputTable table th, 
.inputTable table td {padding:15px; border-bottom:1px solid #eee}
.inputTable table th {padding-left:30px; text-align:left}
.inputTable table td > * + * {margin-top:15px}
.inputTable table td > p.msg + p.msg {margin-top:5px}
@media (max-width:940px) {
    .inputTable table th {padding-left:20px}
    .inputTable table td > * + * {margin-top:10px}
}
@media (max-width:767px) {

}

/* 리스트 테이블 */
.colspan {overflow:hidden}
.listTable {border-top:2px solid #33cbcc}
.listTable table {table-layout:fixed; min-width:100%; width:auto}
.listTable table tr.checked {background:#f6f6f6}
.listTable table th,
.listTable table td {padding:0 10px; border-right:1px solid #eee; border-bottom:1px solid #eee; height:91px; text-align:center; line-height:24px; font-size:16px; color:#000}
.listTable table th:last-child,
.listTable table td:last-child {border-right:none;}
.listTable table th {font-weight:500; white-space:nowrap}
.listTable table td.noData {color:#767676}
.listTable table td a.tit {text-align:left; text-decoration:underline; display:-webkit-box; -webkit-line-clamp:1; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis}
.listTable table td.txtR {padding-right:45px}
p.tableInfo {line-height:90px; border-bottom:1px solid #ccc; font-size:25px} 
@media (max-width:1160px) {

}
@media (max-width:767px) {
    .listTable table th, 
    .listTable table td {height:76px; line-height:23px; border-right:none}
    table .tableHide {display:none}
    p.tableInfo {line-height:75px; font-size:23px}
}

/* ROW 테이블 */
.rowTable tr th,
.rowTable tr td {padding-left:40px; height:75px; border-bottom:1px solid #eee}

@media (min-width:1161px) {

}
@media (max-width:940px) {
	.colspan > table,
	.colspan > table > tbody,
	.colspan > table > tbody > tr {display:block}
	.colspan > table > tbody > tr > th,
	.colspan > table > tbody > tr > td {float:left; padding:8px 10px; height:auto; font-size:15px}
	.colspan > table > tbody > tr > th {width:155px; line-height:25px}
	.colspan > table > tbody > tr > td {min-width:100%; min-height:50px}
	.colspan > table > tbody > tr > th + td {max-width:calc(100% - 155px); min-width:calc(100% - 155px)}
}
@media (max-width:767px) {
	.colspan {margin:0; border-width:1px; border-bottom:1px solid #eee}
	.colspan > table > tbody > tr,
	.colspan > table > tbody > tr > th,
	.colspan > table > tbody > tr > td {display:block; float:none; width:100%; max-width:inherit; min-height:inherit; height:auto !important}
	.colspan > table > tbody > tr > th,
	.colspan > table > tbody > tr > td {padding:0; border:none; min-height:inherit; height:auto; text-align:left; line-height:24px; font-size:16px}
	.colspan > table > tbody > tr:first-child > th {margin-top:0}
	.colspan > table > tbody > tr > th + td {max-width:100%; min-width:100%}
    .colspan > table > tbody > tr > * + * {border-left:none}
	.colspan > table > tbody > tr > th {margin-bottom:5px; padding-top:10px; border-top:1px solid #eee}
    .colspan > table > tbody > tr > th > br {display:none}
    .colspan > table > tbody > tr > td {margin-top:5px; padding-bottom:15px}
}

/* COL 테이블 */

@media (max-width:1160px) {

}
@media (max-width:767px) {

}

/* 정보 테이블 */

@media (max-width:1160px) {

}
@media (max-width:767px) {

}

/* 페이징 */
.paging {margin-top:30px; text-align:center}
.paging .inBox {display:inline-block; overflow:hidden; vertical-align:top}
.paging .inBox div {float:left; padding:0 25px}
.paging .inBox a,
.paging .inBox strong {float:left; width:36px; text-align:center; line-height:37px; font-size:16px; color:#666}
.paging .inBox strong {font-weight:500; color:#33cbcc}
.paging .inBox > a {margin:0 5px; text-indent:-9999px; background:no-repeat center/auto 14px}
.paging .inBox > a.btnFirst {background-image:url("../images/common/btn-paging-first.png")}
.paging .inBox > a.btnPrev {background-image:url("../images/common/btn-paging-prev.png")}
.paging .inBox > a.btnNext {background-image:url("../images/common/btn-paging-next.png")}
.paging .inBox > a.btnLast {background-image:url("../images/common/btn-paging-last.png")}
@media (max-width:767px) {
	.paging {margin:20px -2px 0}
	.paging .inBox div {padding:0 5px}
	.paging .inBox a,
	.paging .inBox strong {width:25px; line-height:30px; font-size:14px}
	.paging .inBox > a {width:30px; line-height:30px; margin:0 2px}
}
@media (max-width:767px) {

}

/* 탭 */
.tabArea > ul:last-child {margin-bottom:0 !important}
.tabArea > ul:after {display:block; content:""; clear:both}
.tabArea > ul li {float:left}
.tabArea > div:not(.infoBox) {display:none}
.tabArea > div.infoBox {display:block !important; margin-bottom:20px !important}
.tabArea.v1 {margin-top:40px}
.tabArea.v1 > ul {display:flex; margin-bottom:25px}
.tabArea.v1 > ul li + li {margin-left:10px}
.tabArea.v1 > ul li a {display:block; padding:0 20px; border-radius:25px; border:1px solid #ccc; min-width:145px; text-align:center; line-height:48px; font-size:16px; color:#333; white-space:nowrap; background:#fff}
.tabArea.v1 > ul li.curr a {border-color:#f26300; color:#fff; background:#f26300}
@media (max-width:1160px) {

}
@media (max-width:767px) {

}

/* 텍스트 */
h2 {font-size:30px; line-height:35px}
.txtC {text-align:center !important; word-break:keep-all}
.txtL {text-align:left !important; word-break:keep-all}
.txtR {text-align:right !important; word-break:keep-all}
.cRed {color:#d41024 !important} 
.cBlue {color:#1a2f88 !important}
.cMint {color:#33cccc !important}
.cBlack {color:#000 !important}
.cGray6 {color:#666 !important}
.cGray8 {color:#888 !important}
.cGray9 {color:#999 !important}
.txt {line-height:35px; font-size:20px; color:#000}
.txt > strong {font-size:25px}
.txt .slashGray {color:#999}

@media (max-width:1160px) {
    h2 {font-size:25px; line-height:30px}
}
@media (max-width:767px) {
    .txt {line-height:30px; font-size:17px}
    .txt > strong {font-size:21px} 
    .msg {padding-left: 10px; font-size: 14px; line-height: 18px; text-indent: -10px}
}

/* 팝업 */
.layerPop {display:none; position:fixed; top:0; left:0; z-index:1000; width:100%; height:100%; background:rgba(0,0,0,0.5)}
.layerPop > .inner {overflow:hidden; position:fixed; top:50%; left:50%; padding:135px 0 0; max-width:90%; max-height:90%; transform:translate(-50%, -50%) scale(0); -webkit-transform:translate(-50%, -50%) scale(0); -moz-tansform:translate(-50%, -50%) scale(0); transition:all 0.2s; -webkit-transition:all 0.2s; -moz-transition:all 0.2s;box-sizing:border-box}
.layerPop > .inner .tit {display:flex; align-items:center; justify-content:center; position:absolute; top:52px; left:0; padding:0 72px; border-bottom:2px solid #33cbcc; width:100%; text-align:center; height:84px; font-size:20px; font-weight:600; color:#000; background:#fff}
.layerPop > .inner .cont {background:#fff}
.layerPop > .inner .cont .memTable {padding:0 20px}
.layerPop > .inner .cont input {height:50px}
.layerPop > .inner > a {display:block; position:absolute; top:0; right:0; width:40px; height:40px; text-indent:-9999px; background:url("../images/common/btn-menu-on.png") no-repeat center / 100% auto}
.layerPop.on > .inner {transform:translate(-50%, -50%) scale(1); -webkit-transform:translate(-50%, -50%) scale(1); -moz-transform:translate(-50%, -50%) scale(1)}
@media (max-width:1160px) {

}
@media (max-width:767px) {

}

/* 사이즈 */
.w60 {width:100% !important; max-width:60px !important}
.w100 {width:100% !important; max-width:100px !important}
.w125 {width:100% !important; max-width:125px !important}
.w150 {width:100% !important; max-width:150px !important}
.w200 {width:100% !important; max-width:200px !important}
.w280 {width:100% !important; max-width:280px !important}
.w340 {width:100% !important; max-width:340px !important}
.w750 {width:100% !important; max-width:750px !important}
.w820 {width:100% !important; max-width:820px !important}
.w910 {width:100% !important; max-width:910px !important}
@media (max-width:767px) {
    .w60,
    .w100,
	.w150,
	.w200,
    .w280,
    .w340,
	.w750,
	.w820,
	.w910 {max-width:100% !important}
}

/* 가리기 */
.hide {position:absolute; top:-9999px; left:-9999px; overflow:hidden; width:1px; height:1px; opacity:0}



/* 디자인스크롤 */
.mCustomScrollbar {-ms-touch-action:pinch-zoom; touch-action:pinch-zoom}
.mCustomScrollbar.mCS_no_scrollbar,
.mCustomScrollbar.mCS_touch_action {-ms-touch-action:auto; touch-action:auto}
.mCustomScrollBox {overflow:hidden; position:relative; height:100%; max-width:100%; outline:none; direction:ltr}
.mCSB_container {overflow:hidden; width:auto; height:auto}
.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {margin-right:0}
.mCS-dir-rtl > .mCSB_inside > .mCSB_container {margin-right:0; margin-left:30px}
.mCS-dir-rtl > .mCSB_inside > .mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {margin-left:0}
.mCSB_scrollTools {position:absolute;top: 0; left:auto; right:0; bottom:0; width:16px; height:auto}
.mCSB_outside + .mCSB_scrollTools {right:-26px}
.mCS-dir-rtl > .mCSB_inside > .mCSB_scrollTools,
.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools {right:auto; left:0}
.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools {left:-26px}
.mCSB_scrollTools .mCSB_draggerContainer {position:absolute; top:0; left:0; bottom:0; right:0; height:auto}
.mCSB_scrollTools a + .mCSB_draggerContainer {margin:20px 0}
.mCSB_scrollTools .mCSB_draggerRail {margin:0 auto; width:1px; height:100%; -webkit-border-radius:16px; -moz-border-radius:16px; border-radius:16px; background:#ddd;}
.mCSB_scrollTools .mCSB_dragger {z-index:1;width: 100%; height:30px; cursor:pointer;}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {position:relative; margin:0 auto; width:4px; height:100%;-webkit-border-radius:16px;-moz-border-radius:16px; border-radius:16px; text-align:center;background: #ddd;}
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar,
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar {width:12px}
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail,
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail {width:8px}
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown {display:block; position:absolute; overflow:hidden; margin:0 auto; height:20px; width:100%; cursor:pointer}
.mCSB_scrollTools .mCSB_buttonDown {bottom:0}

/*>>>>>>>>>> 페이지 <<<<<<<<<<*/

/*** 착오송금반환지원 ***/
/* 상황선택 */

@media (max-width:1160px) {
}
@media (max-width:940px) {

}

/* img+text */ 
.choiceCon a {position:relative; display:inline-block; text-align:center}
.choiceCon a img {max-width:100%; height:auto}
.choiceCon a span {display:inline-block; width:100%; font-weight:500; color:#666}
.choiceCon a:hover span {color:#87b900}
.choiceCon a:hover:after {position:absolute; content:""; top:0; left:0; width:100%; height:100%; background:url("../images/img-svChoice-on.png") no-repeat top center/100% auto}
@media (max-width:767px) {
    .choiceCon a:hover:after {display:none}
}

/* 서비스선택 */
.svChoice {display:flex; justify-content:center; margin-top:33px}
.svChoice.choiceCon a {margin:0 34px}
.svChoice.choiceCon a span {padding-top:25px}
@media (max-width:767px) {
    .svChoice {display:flex; justify-content:space-around; flex-wrap: wrap; margin: 0}
    .svChoice.choiceCon a {margin:25px 0 0; max-width:calc(50% - 28px) !important; min-width:calc(50% - 28px)}
    .svChoice.choiceCon a span {padding-top:15px}
}

/* 상황선택 */
.situChoice > div + div {margin-left:43px}
.situChoice > div:first-child p + div ul {margin:0 auto; width:60%}
.situChoice > div p + div {margin-bottom:25px; padding:60px 0; border-bottom:1px solid #ccc; text-align:center}
.situChoice > div + div ul.choiceCon li + li {margin-left:20px}
.situChoice p {padding:45px 0; border-radius:10px; background-color:#eafafa; text-align:center}
.situChoice p strong {position:relative; padding:0 20px 0 80px; font-size:20px}
.situChoice p strong:before {position:absolute; content:""; top:-12px; left:0; width:60px; height:60px; background:url("../images/ico-step04-on.png") no-repeat center / 100% auto}
.situChoice ul.choiceCon{display:flex}
.situChoice ul.choiceCon li {flex:1}
.situChoice ul.choiceCon a span {padding-top:25px}
@media (max-width:1080px) {
    .situChoice {display:block}
    .situChoice > div + div {margin-left:0}
    .situChoice p {padding:40px 0}
    .situChoice > div p + div {padding:30px 0; border-bottom:none}
}
@media (max-width:767px) {
    .svChoice {display:flex; justify-content:space-around; flex-wrap: wrap; margin: 0}
}
@media (max-width:510px) {
    .situChoice p {padding:15px 20px; text-align:left}
    .situChoice p strong {padding:0 10px 0 40px; font-size:18px}
    .situChoice p strong:before {top:-1px; width:30px; height:30px}
    .situChoice p span {display:block; padding-left:40px; font-size:14px}
    .situChoice > div:first-child p + div ul {width:100%}
    .situChoice ul.choiceCon a span {padding-top:10px}
    .situChoice > div p + div {padding:20px 0 0}
    .situChoice > div p + div ul.choiceCon {flex-wrap:wrap; justify-content:space-around}
    .situChoice > div p + div ul.choiceCon li {margin-bottom:20px; max-width:calc(50% - 10px); min-width:calc(50% - 10px)}
    .situChoice > div p + div ul.choiceCon li + li {margin-left:0;}
}

/* MY대국민포털 */
.myptTotalList {margin-top:25px}
.myptTotalList ul {display:flex; border-radius:10px; border:1px solid #ccc}
.myptTotalList ul li {flex:1; padding:40px 0 50px; text-align:center}
.myptTotalList ul li + li {border-left:1px solid #ccc}
.myptTotalList ul li p {font-size:20px; color:#666}
.myptTotalList ul li p.tit {padding-top:80px; background-repeat:no-repeat; background-position:top center; background-size:70px auto; font-weight:500; font-size:22px; color:#000}
.myptTotalList ul li:first-child p.tit {background-image:url("../images/ico-myportal01.png")}
.myptTotalList ul li:nth-child(2) p.tit {background-image:url("../images/ico-myportal02.png")}
.myptTotalList ul li:nth-child(3) p.tit {background-image:url("../images/ico-myportal03.png")}
.myptTotalList ul li:nth-child(4) p.tit {background-image:url("../images/ico-myportal04.png")}
.myptTotalList ul li:last-child p.tit {background-image:url("../images/ico-myportal05.png")}
.myptTotalList ul li p.num {padding:5px 0 14px}
.myptTotalList ul li p > span {font-weight:500}
.myptTotalList ul li button {margin-top:30px}

.myptList {justify-content:space-around; margin: 0 -20px; padding-bottom:43px}
.myptList > div {margin-top:55px; max-width:calc(50% - 40px); min-width:calc(50% - 40px)}
.myptList .listBox {margin-top:25px; padding:50px; height:165px; border-radius:10px; border:1px solid #ccc; background-color:#fff}
.myptList .listBox > a {position:relative; display:inline-block; margin:0 auto; padding-left:95px}
.myptList .listBox > a span {line-height:45px; border-bottom:2px solid #87b900; font-weight:500; font-size:25px; color:#87b900}
.myptList .listBox > a:before {position:absolute; content:""; top:-10px; left:0; width:70px; height:70px; background:url("../images/ico-myportal06.png") no-repeat center / 100% auto}
.myptList .listBox.noService {background-color:#f9f9f9}
.myptList .listBox.noService button {background-color:#f9f9f9}
@media (max-width:1160px) {
    .myptTotalList ul li {padding:20px 0}
    .myptTotalList ul li p {font-size:16px}
    .myptTotalList ul li p.tit {padding-top:50px; background-size:40px auto; font-size:18px}
    .myptTotalList ul li p.num {padding: 0 0 5px}
    .myptTotalList ul li button {margin-top:10px}
}
@media (max-width:767px) {
    .myptTotalList {margin:15px -20px 0; overflow-x:scroll; -ms-overflow-style:none; scrollbar-width: none; overflow-scrolling: touch; -webkit-overflow-scrolling: touch}
    .myptTotalList::-webkit-scrollbar {display: none}
    .myptTotalList ul {margin:0 20px; min-width:690px}
    .myptTotalList ul li p.tit {padding-top:40px; background-size:35px auto}

    .myptList {margin:0}
    .myptList > div {margin-top:25px; margin-left:0; max-width:100%; min-width:100%}
    .myptList .listBox {margin-top:15px; padding:20px; height:100px}
    .myptList .listBox > a {padding-left:60px}
    .myptList .listBox > a:before {width:45px; height:45px}
    .myptList .listBox > a span {line-height:20px; font-size:20px}
}