@charset "utf-8";
/* WRAP */
#wrap {position:relative}

/* HEADER */ 
#header {position:fixed; top:0; left:0; z-index:1000; width:100%; border-bottom:1px solid #eee; background:#fff}
#header > .inner {position:relative; margin:0 auto; padding:40px 20px; width:1440px; height:140px; max-width:100%; text-align:center}
#header > .inner h1 {position:absolute; top:45px; left:20px; z-index:1000}
#header > .inner h1 a {display:block; width:230px; height:49px; text-indent:-9999px; background:url("../images/common/logo.png") no-repeat left center}
#header > .inner .srchArea {position: relative; z-index:1; margin: 0 auto; padding-left:93px; width: 560px; height: 60px; border: 2px solid #000; border-radius: 30px}
#header > .inner .srchArea select,
#header > .inner .srchArea input {height:56px; border:none}
#header > .inner .srchArea select {position:absolute; top:0; left:0; padding:0 30px 0 25px; width:93px; border-radius:30px 0 0 30px}
#header > .inner .srchArea input {border-radius:0 30px 30px 0}
#header > .inner .srchArea button {position:absolute; top:0; right:0; width:66px; height:56px; background:url("../images/common/ico-srch.png") no-repeat center; border:none; text-indent:-9999px}
#header > .inner .util {position:absolute; top:40px; right:0; z-index:0; padding-left:470px}
#header.logIn > .inner .util {padding-right:180px}
#header.logOut > .inner .util {padding-right:100px}
#header > .inner .util:after {display:block; content:""; clear:both}
#header > .inner .util > button,
#header > .inner .util .allMenuBtn {display:inline-block; position:relative; z-index:1; vertical-align:top}
#header > .inner .util > button {height:60px; line-height:60px; border-radius:30px}
#header > .inner .util > button + button {margin-left:20px;}
#header > .inner a.srchAreaBtn {position:absolute; top:40px; right:100px; z-index:2; display:inline-block; margin-left:20px; width:60px; height:60px; background:url("../images/common/btn-srch-off.png") no-repeat center; text-indent:-9999px}
#header > .inner a.srchAreaBtn.open {background:url("../images/common/btn-srch-on.png") no-repeat center}
#header > .inner a.allMenuBtn {position:absolute; top:40px; right:20px; z-index:2; display:inline-block; margin-left:20px; width:60px; height:60px; background:url("../images/common/btn-menu-off.png") no-repeat center; text-indent:-9999px}
#header > .inner a.allMenuBtn.open {background:url("../images/common/btn-menu-on.png") no-repeat center}
#header > .inner .dim {display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.56)}

#header.logIn > .inner .status {display:none;}
#header.logIn > .inner .status {display:block; position:absolute; top:0; left:0; line-height:60px; font-size:14px; color:#999; text-align:right}
#header.logIn > .inner .status .time {position:relative; display:inline-block; margin-left:30px; border-bottom:1px solid #1b3371; line-height:25px; color:#1b3371}
#header.logIn > .inner .status .time:before {position:absolute; content:""; top:3px; left:-22px; width:17px; height:17px; background:url("../images/common/ico-time.png") no-repeat center}
#header.logIn > .inner .status .name {display:inline-block; margin-left:25px; font-size:18px}
#header.logIn > .inner .status .name strong {color:#1b3371}

/*로그인 상태*/
#header.logIn .srchArea {display:none }
#header.logIn > .inner .status {display:block}
#header.logIn > .inner .loginBtn {display:none !important}
#header.logIn > .inner .logoutBtn,
#header.logIn > .inner .srchAreaBtn {display:inline-block}
#header.logIn > .inner .srchArea {top:100px; right:80px; margin-right:0}

/*로그아웃 상태*/
#header.logOut .srchArea {display:block}
#header.logOut > .inner .status {display:none}
#header.logOut > .inner .loginBtn {display:inline-block}
#header.logOut > .inner .logoutBtn,
#header.logOut > .inner .srchAreaBtn {display:none !important}

.allMenu {display:none; position:fixed; top:0; left:0; width:100%; height:100%; z-index:1}
.allMenuList {position:relative; height:100%}
.allMenuList:before {position:absolute; content:""; top:0; left:0; width:100%; height:100%; background:#000; opacity:0.6}
.allMenuList .inner {position:relative; left:0}
.allMenuList .inner > div {width:100%; background:#fff}
.allMenuList h2 { height:104px; background:#eee; line-height:104px; cursor:pointer}
.allMenuList h2 span {display:inline-block; margin:0 auto; padding:0 20px; width:1440px; max-width:100%; font-weight:600; color:#1a3370}
.allMenuList h2 + div ul > li {position:relative}
.allMenuList .inner div + div {border-top:1px solid #fff}
.allMenuList .inner .allMenuInner {display:none}
.allMenuList .inner div > ul > li {margin-top:-1px; padding-top:90px; /*border-top:1px solid #eee;*/ border-bottom:1px solid #eee}
.allMenuList .inner div > ul > li.noAcco {padding-top:0}
.allMenuList .inner div > ul > li.noAcco a { display:inline-block; margin:0 auto; padding:0 20px; width:1440px; max-width:100%; height:90px; line-height:90px; font-size:25px; text-align:left; cursor:pointer; color:#3c6dde;}
.allMenuList ul li dl {margin:0 auto; padding:0 20px; width:1440px; max-width:100%}
.allMenuList ul li dl dt {position:absolute; top:0; left:0; width:100%; height:90px; line-height:90px; font-size:25px; color:#3c6dde}
.allMenuList ul li dl dt:before {position:absolute; content:""; left:0; bottom:-1px; width:100%; height:1px; background:#eee}
.allMenuList ul li dl dt span {display:inline-block; margin:0 auto; padding:0 20px; width:1440px; max-width:100%; text-align:left; cursor:pointer}
.allMenuList ul li dl dd {display:none; padding-bottom:65px}
.allMenuList ul li dl dd > ul.ddInList {display:flex; flex-wrap:wrap; font-size:20px; color:#000; text-align:left}
.allMenuList ul li dl dd > ul.ddInList > li {flex:1; margin-top:20px; max-width:25%; min-width:25%}
.allMenuList ul li dl dd > ul.ddInList > li > a {display:inline-block; padding-right:28px; width:auto; height:60px; background:url("../images/common/ico-arrow-down.png") no-repeat right center; line-height:60px;}
.allMenuList ul li dl dd > ul.ddInList > li > a.noDepth {background:none}
.allMenuList ul li dl dd > ul {text-align:left}
.allMenuList ul li dl dd > ul li ul li a {display:inline-block; position:relative; padding-left:14px; height:40px; font-size:18px; line-height:40px; color:#666}
.allMenuList ul li dl dd > ul li ul li a:before {position:absolute; content:""; top:50%; left:0; margin-top:-1px; width:4px; height:2px; background:#666}
.allMenuList .mCSB_scrollTools {width:72px}
.allMenuList .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {width:6px; -webkit-border-radius:0; -moz-border-radius:0; border-radius:0; background:#000}
.allMenuList .mCSB_scrollTools .mCSB_draggerRail {width:6px; background:#e7e7e7}

span.accoIcon {position:relative}
span.accoIcon:before {position:absolute; content:""; top:50%; right:20px; width:21px; height:3px}
span.accoIcon:after {position:absolute; content:""; top:50%; right:29px; margin-top:-8px; width:3px; height:21px}
span.accoIcon.red:before,
span.accoIcon.red:after {background:#33cccc}
span.accoIcon:before,
span.accoIcon:after {background:#33cccc}
*.on span.accoIcon:before {background:#b5b5b5}
*.on span.accoIcon:after {display:none}
.depth04 {display:none}
@media (min-width: 1281px) and (max-width: 1394px) {
    #header > .inner .srchArea {width:500px}
    #header.logIn > .inner .srchArea {right:70px}
    #header.logOut > .inner .srchArea {right:0}
}   
@media (max-width: 1280px) {
    #header > .inner .srchArea {width:460px}
    #header.logOut > .inner .util {padding-right:90px}
    #header.logOut > .inner .util > button {padding:0 25px}
}
@media (max-width: 1394px) {
    #header > .inner a.allMenuBtn,
    #header > .inner a.srchAreaBtn,
    #header > .inner .util > button + button {margin-left:10px}
    #header > .inner a.srchAreaBtn {right:90px}
    #header.logIn > .inner .util {padding-left:450px; padding-right:160px}
    /* #header > .inner .util > button {margin-right:10px; padding:0 20px}
    #header > .inner .util > button + button {margin-right:72px} */
}
@media (max-width: 1160px) {
    #header > .inner {padding:10px; height:76px}
    #header > .inner h1 {top:23px; left:29px}
    #header > .inner h1 a {width:130px; height:31.5px; background-size: 100% auto}
    #header.logIn > .inner .srchArea,
    #header.logOut > .inner .srchArea {display:none; top:67px; right:55px; margin-right:0}
    #header.logIn > .inner .util > .status {display:none; position:fixed; top:77px; left:50%; padding-right:0; width:100%; line-height:30px; text-align:center; -webkit-transform:translateX(-50%); -moz-transform:translateX(-50%); transform:translateX(-50%)}
    #header.logIn > .inner .util.open > .status {display:block}
    #header.logIn > .inner .status .name {display:block; margin-top:7px}
    #header > .inner .util,
    #header.logIn > .inner .util {top:20px; z-index:2; padding-left:0; padding-right:53px}
    #header.logOut > .inner .util {padding-right:55px}
    #header.logOut > .inner .srchAreaBtn {display:inline-block !important}
    #header.logOut > .inner .util.open + .srchAreaBtn {display:none !important}
    #header > .inner a.allMenuBtn,
    #header > .inner a.srchAreaBtn,
    #header > .inner a.srchAreaBtn.open {top:20px; right:13px; margin-left:12px; width:40px; height:40px; background-size: 100% auto}
    #header > .inner a.srchAreaBtn,
    #header > .inner a.srchAreaBtn.open {display:inline-block; right:68px}
    #header > .inner a.allMenuBtn.open {background-size: 100% auto}
    #header > .inner .util > button,
    #header.logIn > .inner .logoutBtn {display:none; margin-right:10px; height:40px; padding:0 25px; font-size:14px; line-height:40px;}
    #header.logOut > .inner .loginBtn {display:none}
    /* #header > .inner .util > button + button {margin-right:45px} */
    #header > .inner .util.open > button,
    #header.logOut > .inner .util.open .loginBtn {z-index:1; display:inline-block}
    #header > .inner a.allMenuBtn, 
    #header > .inner a.srchAreaBtn, 
    #header > .inner .util > button + button {margin-left:0}

    .allMenu {background:#fff}
    .allMenuList:before {display:none}
    .allMenuList .inner div > ul > li {padding-top:76px}
    .allMenuList h2 {height:78px; background:#1a3370; line-height:78px}
    .allMenuList h2 span {font-weight:400; color:#fff}
    .allMenuList .inner .scrollArea {height:380px}
    .allMenuList ul li dl dt,
    .allMenuList .inner div > ul > li.noAcco a {height:76px; font-size:20px; color:#1a3370; line-height:76px}
    .allMenuList ul li dl dt.on span.accoIcon:before, 
    .allMenuList h2.on span.accoIcon:before,
    .allMenuList h2 span.accoIcon:before, 
    .allMenuList h2 span.accoIcon:after,
    .allMenuList ul li dl dt span.accoIcon:before {display:none}
    .allMenuList ul li dl dt span.accoIcon:after {right:24px; margin-top:-4px; width:15px; height:8px; background: url(../images/common/ico-downarrow-m.png) no-repeat center / 100% auto}
    .allMenuList ul li dl dt.on span.accoIcon:after {display:block; -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); transform:rotate(180deg)}
    .allMenuList .mCSB_scrollTools {width:16px}
    .allMenuList .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {width:3px; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; background:#ccc}
    .allMenuList .mCSB_scrollTools .mCSB_draggerRail {width:1px; background:transparent}

    .allMenuList ul li dl {padding:0}
    .allMenuList ul li dl dd {padding-bottom:0}
    .allMenuList ul li dl dd > ul.ddInList {display:block; font-size:18px}
    .allMenuList ul li dl dd > ul.ddInList > li {flex:inherit; margin-top:0; padding:0 20px; max-width:100%; min-width:100%; border-top:1px solid #eee; background:#fff}
    .allMenuList ul li dl dd > ul.ddInList > li.open {background:#f6f6f6}
    .allMenuList ul li dl dd > ul.ddInList > li > a {padding-right:0; width:100%; height:50px; line-height:50px}
    .allMenuList ul li dl dd > ul.ddInList > li.open > a:not(.noDepth) {font-weight:600}
    .allMenuList ul li dl dd > ul.ddInList > li > a:not(.noDepth) {position:relative; width:100%; background:none}
    .allMenuList ul li dl dd > ul.ddInList > li > a:not(.noDepth):before,
    .allMenuList ul li dl dd > ul.ddInList > li > a:not(.noDepth):after {position:absolute; content:""; top:50%; background:#d41024}
    .allMenuList ul li dl dd > ul.ddInList > li > a:not(.noDepth):before {right:10px; width:12px; height:2px}
    .allMenuList ul li dl dd > ul.ddInList > li > a:not(.noDepth):after {right:15px; margin-top:-5px; width:2px; height:12px}
    .allMenuList ul li dl dd > ul.ddInList > li.open > a:not(.noDepth):before {position:absolute; content:""; top:50%; right:10px; width:10px; height:2px; background:#000}
    .allMenuList ul li dl dd > ul.ddInList > li.open > a:not(.noDepth):after {display:none}
    .allMenuList ul li dl dd > ul.ddInList > li.open > a:not(.noDepth) + ul {padding-bottom:15px}
    .allMenuList ul li dl dd > ul.ddInList > li > ul {display:none}
    .allMenuList ul li dl dd > ul li ul li a {width:100%; font-size:14px}

    .depth04 {display:block; position:fixed; top:154px; right:-280px; z-index:1010; width:255px; height:100%; background:#fff; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s}
    .depth04.open {right:0}
    .allMenuList h2 + div ul > li .depth04 > a {height:76px; border-bottom:2px solid #ccc; font-weight:600; font-size:18px; background:url(../images/common/ico-arrow-left.png) no-repeat center left 24px / 10px auto; color:#1a3370; text-align:center; line-height:76px}
    .allMenuList h2 + div ul > li .depth04 > a:before {display:none}
    .allMenuList h2 + div ul > li .depth04 > ul li {padding:0 25px; height:74px; line-height:74px}
    .allMenuList h2 + div ul > li .depth04 > ul li a {font-size:18px; color:#000}
    /*.depth04.open:before {position:fixed; content:""; top:0; left:0; width:100%; height:100%; background:#000; opacity:0.6}*/
    .dim{display:none; position:fixed; content:""; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.6)}
    .dim.on{display:block; z-index:500}
}
@media (max-width: 940px) {
    #header > .inner .srchArea {height:45px}
    #header > .inner .srchArea select,
    #header > .inner .srchArea input,
    #header > .inner .srchArea button {height:41px}
}
@media (max-width: 767px) {
    #header > .inner .util > button {margin-right:10px}
    /* #header > .inner .util > button + button {margin-right:50px} */
    #header.logIn > .inner .srchArea,
    #header.logOut > .inner .srchArea {right:0; width:100%}
}

/* GNB */
.gnbWrap {position:relative; height:87px; border-top:1px solid #ccc; border-bottom:1px solid #eee; background:#fafafa; z-index:-1;}
.gnbWrap #gnb {margin:0 auto; padding:0 20px; width:1440px; max-width:100%}
.gnbWrap #gnb > ul {display:flex; height:87px; font-size:20px; line-height:87px}
.gnbWrap #gnb > ul > li {flex:auto; justify-content:space-between}
.gnbWrap #gnb > ul > li > div {display:none; border-bottom:1px solid #eee}
.gnbWrap #gnb > ul.depthList > li > a {display:inline-block; position:relative}
.gnbWrap #gnb > ul.depthList > li:hover > a {font-weight:500; color:#d71d30}
.gnbWrap #gnb > ul.depthList > li:hover > a:before {position:absolute; content:""; left:0; bottom:2px; width:100%; height:3px; background:#d71d30}
.gnbWrap #gnb .subArea {position:absolute; left:0; z-index:1; margin-top:-1px; width:100%; background:#fff}
.gnbWrap #gnb .subArea:before {position:absolute; content:""; top:0; left:0; z-index:-10; width:25%; height:100%; background:#fbfbfb}
.gnbWrap #gnb .subArea .inner {display:flex; margin:0 auto; padding:0 20px; width:1440px; max-width:100%; height:100%}
.gnbWrap #gnb div.titArea {padding-top:50px; width:28%; max-width:390px; background:#fbfbfb url("../images/common/bg-allmenu.png") no-repeat right 25% bottom 9% / 224px auto; border-right:1px solid #eee; text-align:left}
.gnbWrap #gnb div.titArea p {padding-top:20px; font-size:14px; line-height:30px; color:#949494}
.gnbWrap #gnb .mCustomScrollbar {width:72%; height:590px}
.gnbWrap #gnb .mCSB_scrollTools {top:50px; height:83%}
.gnbWrap #gnb ul.depth01 {display:flex; flex-wrap:wrap; border-right:1px solid #eee; min-height:595px}
.gnbWrap #gnb ul.depth01 > li {flex:1; padding-top:32px; padding-bottom:32px; max-width:33.3%; min-width:33.3%; border-right:1px solid #eee}
.gnbWrap #gnb ul.depth01 > li:nth-child(3n+0) {border-right:none}
.gnbWrap #gnb ul.depth01 > li > dl > dt {position: relative; margin-bottom:14px; height: 62px; font-size: 20px; font-weight: 500; color: #1a3370; line-height: 62px}
.gnbWrap #gnb ul.depth01 > li > dl > dt:before {position:absolute; content:""; left:30px; bottom:0; width:27px; height:3px; background:#1a3370}
.gnbWrap #gnb ul.depth01 > li > dl > dt,
.gnbWrap #gnb ul.depth01 > li > dl > dd {padding-left:30px}
.gnbWrap #gnb ul.depth01 > li > dl > dd {line-height:44px}
.gnbWrap #gnb ul.depth01 > li > dl > dd > a {display:inline-block; font-weight:500; font-size:16px}
.gnbWrap #gnb ul.depth03 li {font-size:14px; line-height:28px}
.gnbWrap #gnb ul.depth03 li a {display:inline-block; position:relative; padding-left:14px; color:#666}
.gnbWrap #gnb ul.depth03 li a:before {position:absolute; content:""; top:50%; left:0; margin-top:-1px; width:4px; height:2px; background:#666}

@media (max-width: 1600px) {

}
@media (max-width: 1280px) {

}
@media (min-width: 1161px) and (max-width: 1350px){
    .gnbWrap #gnb {padding:0 10px}
    .gnbWrap #gnb > ul {font-size:17px}
}
@media (max-width: 1160px) {
    .gnbWrap {display:none}
}
@media (max-width: 767px) {

}

/* CONTAINER */
#container.main {margin-top:60px}
#container {margin:0 auto; padding:0 30px; max-width:100%; width:1460px}
#container .location {padding:17px 0; border-bottom:1px solid #eee; font-size:0}
#container .location ol {display:inline-block}
#container .location ol:after {display:block; content:""; clear:both}
#container .location ol li {float:left; line-height:26px; font-size:14px; color:#666}
#container .location ol li + li {position:relative; margin-left:14px; padding-left:20px}
#container .location ol li + li:before {display:block; content:">"; position:absolute; top:0; left:0; line-height:28px; font-size:15px; font-family:"Gulim", sans-serif}
#container .location ol li strong {font-weight:400; color:#666}
#container .pageTit {margin-top:66px; margin-bottom:53px}
#container .pageTit:after {display:block; content:""; clear:both}
#container .pageTit h2 {float:left; line-height:40px; font-size:30px; font-weight:700; color:#000}
#container h3 {line-height:35px; font-size:25px; font-weight:500; color:#000}
#container .pageTit .snsBtn {display:none;}
#container .pageTit .snsList {float:right}
#container .pageTit .snsList ul li {position:relative; display:inline-block}
#container .pageTit .snsList ul li + li {margin-left:10px}
#container .pageTit .snsList ul li + li:before {position:absolute; content:""; top:0; left:0; width:1px; height:40px; background:#ccc}
#container .pageTit .snsList ul li a {display:inline-block; width:40px; height:40px; background-repeat: no-repeat; background-size:100% auto; text-indent:-9999px }
#container .pageTit .snsList ul li a,
#container .pageTit .snsList ul li button {margin-left:12px;}
#container .pageTit .snsList ul li a.btnFacebook {background-image:url("../images/btn-sns-facebook.png")}
#container .pageTit .snsList ul li a.btnTwitter {background-image:url("../images/btn-sns-twitter.png")}
#container .pageTit .snsList ul li a.btnBlog {background-image:url("../images/btn-sns-blog.png")}
#container .pageTit .snsList ul li a.btnInsta {background-image:url("../images/btn-sns-insta.png")}
#container .pageTit .snsList ul li a.btnYoutube {background-image:url("../images/btn-sns-youtube.png")}
#container .topTit h3.imgTit {line-height:35px; padding-left:40px; background:url("../images/bl-title.png") no-repeat left center; font-weight:600; font-size:25px}

.floatTop {position:absolute; top:290px; left:calc(50% + 750px); width:60px; border:1px solid #ccc; border-radius:5px; text-align:center}
.floatTop .fontSize {padding:10px 0}
.floatTop .fontSize span {display:inline-block; padding-top:25px; background:url("../images/common/ico-fontsize.png") no-repeat top center; font-weight:500; font-size:13px; color:#000; line-height:20px;}
.floatTop .fontSize button {width:20px; height:20px; border:1px solid #ccc; background-repeat:no-repeat; background-position:center; text-indent:-9999px}
.floatTop .fontSize button + button {margin-left:-5px}
.floatTop .fontSize button.fontPlus {background-image:url("../images/common/btn-ftsize-plus.png");}
.floatTop .fontSize button.fontMinus {background-image:url("../images/common/btn-ftsize-minus.png");}

.floatBottom {position:fixed; bottom:20px; left:calc(50% + 720px); z-index:100; width:120px; height:auto; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s}
.floatBottom:after {display:block; content:""; clear:both}
.floatBottom a {display:block; float:right} 
.floatBottom a:nth-child(n+2) {margin-top:20px}
.floatBottom a.faq {display:block; margin: 0 27px; width:65px; height:65px; line-height:59px; border-radius:100%; border:3px solid #000; font-size:16px; font-weight:700; background:#eee; text-align:center;}
.floatBottom a.chatbot {position:relative; width:120px; height:120px; border:3px solid #33cccc; border-radius:60px; background:#8de2e2; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; overflow:hidden}
.floatBottom a.chatbot:after {position:absolute; content:""; right:-5px; bottom:-8px; width:120px; height:110px; background:url("../images/common/img-chatbot.png") no-repeat center top}
.floatBottom a.chatbot span {display:inline-block; padding:38px 0; width:145px; background:url("../images/common/bg-chatbot.png") no-repeat right center; font-size:14px; color:#000; opacity:0}
.floatBottom a.chatbot.on {padding-left:30px; width:300px}
.floatBottom a.chatbot.on span {opacity:1;}
.floatBottom .btnScrolltop {margin:0 27px 0 0; width:65px; height:65px; text-indent:-9999px; background:url("../images/common/btn-scrolltop.png") no-repeat 0 0}
@media (max-width: 1160px) {
    #container.main {margin-top:20px; /*padding:0*/}
    #container .location {margin:0 -30px; padding:13px 10px 13px 30px; overflow-x:scroll; -ms-overflow-style:none; scrollbar-width: none; overflow-scrolling: touch; -webkit-overflow-scrolling: touch}
    #container .location::-webkit-scrollbar {display: none}
    /* #container .location ol {padding:13px 20px} */
    #container .location ol li {display:inline-block; font-size:13px; white-space:nowrap}
    #container .location ol li + li {margin-left:8px; padding-left:14px}

    #container .pageTit {margin-top:34px; margin-bottom:33px}
    #container .pageTit h2 {display:-webkit-box; overflow:hidden; width:85%; line-height:35px; font-size:25px; text-overflow:ellipsis; -webkit-line-clamp:2; -webkit-box-orient:vertical}
    #container h3 {line-height:30px; font-size:20px}
    #container .pageTit .snsBtn {display:block; margin-top:3px; width:30px; height:30px; background:url("../images/common/btn-snslist-m.png") no-repeat center / 100% auto; text-indent:-9999px;}
    #container .pageTit .snsBtn.on {background:url("../images/common/btn-snslist-m-on.png") no-repeat center / 100% auto} 
    #container .pageTit .snsList ul {display:none}
    #container .pageTit .snsList ul li + li:before {height:30px}
    #container .pageTit .snsList ul li a,
    #container .pageTit .snsList ul li button {width:30px; height:30px; background-size:100% auto}
    #container .topTit h3.imgTit {padding-left:34px; line-height:30px; background-size:19px auto; font-size:20px}

    .floatTop,
    .floatBottom {display:none}
}
@media (max-width: 940px) {
    #container .pageTit .snsList {position:relative; z-index:100}
    #container .pageTit .snsList ul {position:absolute}
    #container .pageTit .snsList ul li,
    #container .pageTit .snsList ul li a {display:block}
    #container .pageTit .snsList ul li + li {margin-left:0}
    #container .pageTit .snsList ul li + li:before {display:none}
    #container .pageTit .snsList ul li a {margin-top:10px; margin-left:0}
    #container .pageTit .snsList ul li button {display:none}
}
@media (max-width: 767px) {
    #container.main {padding:0}
}

/* FOOTER */
.main + #footer {margin-top:65px} 
#footer {margin-top:90px; border-top:1px solid #ccc}
#footer .inner {display:flex; margin:0 auto; padding:35px 20px 40px; width:1440px; max-width:100%}
#footer .inner > * {flex:auto; justify-content:space-between}
#footer .logo {width:180px; height:38px; text-indent:-9999px; background:url("../images/common/logo-footer.png") no-repeat left center/ auto 100%}
#footer .footUtil {margin-left:100px}
#footer .footUtil > ul li {display:inline-block}
#footer .footUtil > ul.link li {position:relative; padding: 0 40px; line-height:20px}
#footer .footUtil > ul.link li:first-child {padding-left:0}
#footer .footUtil > ul.link li + li:before {position:absolute; content:""; top:50%; left:0; margin-top:-8px; width:1px; height:16px; background:#ccc}
#footer .footUtil > ul.link li a {font-weight:500; color:#000} 
#footer .footUtil > ul.link li a.cRed {font-weight:700}
#footer .footUtil > ul + ul li,
#footer .copy {font-size:13px; line-height:22px; color:#666}
#footer .footUtil > ul + ul {margin-top:25px} 
#footer .footUtil > ul + ul li {padding-right:10px}
#footer .footUtil > ul + ul li:last-child {padding-right:0}
#footer .inner > a {text-align:right}
#footer .inner > a span {display:inline-block; margin-left:10px; font-size:13px; color:#888}
@media (max-width: 1160px) {
    #footer .footUtil {margin-left:0}
    #footer .footUtil > ul.link li {padding:0 20px}
}
@media (max-width: 940px) {
    #footer {position:relative; margin-top:50px}
    #footer .inner {padding:195px 30px 32px}
    #footer .inner > a span {display:none}
    #footer .footUtil {position:absolute; top:30px; left:0; padding:0 27px}
    #footer .footUtil > ul.link li {padding:0 15px; line-height:32px}
    #footer .footUtil > ul.link li:nth-child(3) {padding-left:0}
    #footer .footUtil > ul.link li:nth-child(3):before {display:none}
    #footer .footUtil > ul + ul {margin-top:10px; line-height:18px} 
    #footer .footUtil > ul + ul li {font-size:12px} 
    #footer .footUtil > ul + ul li:nth-child(3) {padding-left:0}
    #footer .copy {display:none}
    #footer .footBottom {margin-top:75px}
    #footer .logo {width:100%; height:38px; background-size:auto 100%}
}

