﻿@charset "utf-8";
/* 메인 공통 */
.section .inner {margin:0 auto; /*padding:0 30px; width:1460px;*/ max-width:100%}
.section h2 {padding-bottom:25px; font-weight:500; color:#000}

@media (max-width: 1160px) {
    /* .section .inner {padding:0 30px} */
}
@media (max-width: 767px) {
    .section h2 {padding-bottom:15px; font-size:18px}
}

/* 메인 섹션 1 */
.section.v1 {padding-bottom:27px}
.section.v1 .flexArea {display:flex; justify-content:space-between}
.section.v1 .flexArea > div {flex:auto}
.section.v1 .flexArea > div {max-width:calc(65% - 20px); min-width:calc(65% - 20px)}
.section.v1 .flexArea > div + div {max-width:calc(35% - 20px); min-width:calc(35% - 20px)}
.section.v1 .visualSwiper,
.section.v1 .tabArea {overflow:hidden}
.section.v1 .visualSwiper {position:relative}
.section.v1 .visualSwiper img {width:100%; height:auto; border-radius:10px}

.section.v1 .slider .swiper-slide p {position:absolute; top:50%; left:50%; width:100%; padding-top:63px; background-repeat:no-repeat; background-size:50px auto; background-position:top center; font-weight:500; line-height:20px; text-align:center; -webkit-transform:translate(-50%,-50%); -moz-transform:translate(-50%,-50%); transform:translate(-50%,-50%)}
.section.v1 .btnPrev.visual,
.section.v1 .btnNext.visual {position:absolute; top:50%; z-index:1; margin-top:-15px; width:30px; height:60px; border:none; text-indent:-9999px}
.section.v1 .btnPrev.visual {left:40px; background:url("../images/main/btn-visual-prev.png") no-repeat center/ 100% auto}
.section.v1 .btnNext.visual {right:40px; background:url("../images/main/btn-visual-next.png") no-repeat center/ 100% auto}
.section.v1 .visualSwiper .swiper-pagination-bullets {left:13.3%; bottom:95px}
.section.v1 .visualSwiper .swiper-pagination-bullet {margin:0 7px 0 0; width:9px; height:9px;}
.section.v1 .visualSwiper .swiper-pagination-bullet-active {width:9px; border-radius:100%; background:#000}

.section.v1 .tabMoreBtn {position:absolute; top:13px; right:0; width:18px; height:18px; background: url("../images/main/btn-plus.png") no-repeat center / 18px auto; text-indent:-9999px}
.section.v1 .tabArea {position:relative; margin-top:-7px; margin-right:1px; padding-right:2px}
.section.v1 .tabArea > div:not(.infoBox) > div { padding-bottom:25px}
.section.v1 .tabArea > ul {display:flex; align-items:baseline; margin:0 auto 20px}
.section.v1 .tabArea > ul li a {margin-right:46px; font-weight:400; font-size:20px; color:#999}
.section.v1 .tabArea > ul li.curr a {font-weight:600; font-size:25px; color:#000}
.section.v1 .tabArea .sliderBtnWrap {position:absolute; top:18px; right:40px; width:50px}
.section.v1 .tabArea .menuSwiper,
.section.v1 .tabArea .myMenuSwiper {position:relative; height:100%; background:#ccc}
.section.v1 .tabArea .menuSwiper:before ,
.section.v1 .tabArea .myMenuSwiper:before {position:absolute; content:""; top:0; left:0; width:100%; height:100%; border-radius:10px; border:1px solid #ccc; z-index:10}
.section.v1 .tabArea .swiper-container-multirow > .swiper-wrapper .swiper-slide {background:#fff}
.section.v1 .btnPrev.favorite,
.section.v1 .btnNext.favorite,
.section.v1 .btnPrev.myMenu,
.section.v1 .btnNext.myMenu {position:absolute; top:50%; z-index:1; margin-top:-6px; width:12px; height:20px; border:none; text-indent:-9999px}
.section.v1 .btnPrev.favorite,
.section.v1 .btnPrev.myMenu {left:0; background:url("../images/btn-tabmenu-prev.png") no-repeat center/ 100% auto}
.section.v1 .btnNext.favorite,
.section.v1 .btnNext.myMenu {right:0; background:url("../images/btn-tabmenu-next.png") no-repeat center/ 100% auto}
.section.v1 .btnNext.favorite.swiper-button-disabled,
.section.v1 .btnNext.myMenu.swiper-button-disabled,
.section.v1 .btnPrev.favorite.swiper-button-disabled,
.section.v1 .btnPrev.myMenu.swiper-button-disabled  {opacity:0.2}
.section.v1 .tabArea .swiper-pagination-fraction {bottom:-11px; font-size:13px; color:#999; text-align:right; letter-spacing:-2px}
.section.v1 .tabArea .swiper-pagination-fraction:after {content: " page"; letter-spacing:-0.7px}
.section.v1 .tabArea .swiper-pagination-fraction .swiper-pagination-current {font-weight:500; color:#000}
@media (max-width: 1160px) {
    .section.v1 .tabArea > ul {margin:0 auto 14px}
    .section.v1 .flexArea > div {max-width:calc(55% - 20px); min-width:calc(45% - 20px)}
    .section.v1 .flexArea > div + div {max-width:calc(45% - 20px); min-width:calc(45% - 20px)}
    .section.v1 .slider .swiper-slide p {padding-top:35px; background-size:33px auto; line-height:17px; font-size:15px}
    .section.v1 .btnPrev.visual, 
    .section.v1 .btnNext.visual {width:20px; height:40px}
    .section.v1 .btnNext.visual {right:10px}
    .section.v1 .btnPrev.visual {left:10px}
}
@media (max-width: 940px) {
    .section.v1 .tabArea > ul {margin:0 auto 10px}
    .section.v1 .tabArea > ul li.curr a {font-size:18px}
    .section.v1 .tabArea > ul li a {margin-right:24px; font-size:14px}
    .section.v1 .tabMoreBtn {top:8px; right:0; width:15px; height:15px; background-size:15px auto}
    .section.v1 .tabArea .sliderBtnWrap {top:14px; right:30px; width:35px}
    .section.v1 .btnPrev.favorite, 
    .section.v1 .btnNext.favorite, 
    .section.v1 .btnPrev.myMenu, 
    .section.v1 .btnNext.myMenu {width:9px; height:15px}
    .section.v1 .slider .swiper-slide p {padding-top:23px; background-size:21px auto; line-height:14px; font-size:12px}
    .section.v1 .visualSwiper .swiper-pagination-bullets {bottom:65px}
}
@media (max-width: 767px) {
    .section.v1 {margin-top:-20px; padding-bottom:15px}
    .section.v1 .inner {padding:0}
    .section.v1 .visualSwiper img {border-radius:0}
    .section.v1 .btnNext.visual,
    .section.v1 .btnPrev.visual {display:none}
    .section.v1 .flexArea {display:block}
    .section.v1 .flexArea > div,
    .section.v1 .flexArea > div + div {max-width:100%; min-height:100%}
    .section.v1 .flexArea > div + div {padding:0 30px}
    .section.v1 .tabArea {margin-top:35px}
    .section.v1 .tabArea .swiper-pagination-fraction {display:none}
    .section.v1 .tabArea .swiper-container-multirow > .swiper-wrapper .swiper-slide {height:140px !important}
    .section.v1 .slider .swiper-slide p {padding-top:50px; background-size:45px auto; line-height:20px; font-size:14px}
    .section.v1 .visualSwiper .swiper-pagination-bullets { left:7.5%; bottom: 40%}
}

/* 메인 섹션 2 */
.section.v2 {padding-bottom:70px}
/* .section.v2 .inner .tit {margin:0 45px} */
.section.v2 .inner {padding:0; width:1490px;}
.section.v2 .tit {position:relative}
.section.v2 .tit + div {position:relative; overflow:hidden; margin:0 -45px}
.section.v2 .tabMoreBtn {position:absolute; top:13px; right:0; width:18px; height:18px; background: url("../images/main/btn-plus.png") no-repeat center / 18px auto; text-indent:-9999px}
.section.v2 .slider {position:relative; margin: 0 45px; border-radius:10px; border:1px solid #ccc; overflow:hidden}
.section.v2 .slider:before {position:absolute; content:""; top:0; left:-1px; z-index:2; width:5px; height:100%; background:#fafafa}
.section.v2 .swiper-wrapper {border: 1px solid transparent}
.section.v2 .swiper-wrapper a + a {border-left:1px solid #ccc}
.section.v2 .slider .swiper-slide {position:relative; padding:23px 25px 30px 30px; height:250px; background:#fafafa url("../images/main/bg-qna.png")no-repeat 230px -30px}
.section.v2 .slider .swiper-slide p {width:70%; font-size:20px; line-height:30px; color:#000; letter-spacing:-1px; word-break:keep-all; /*overflow:hidden; text-overflow:ellipsis; -webkit-line-clamp:2; display:-webkit-box; -webkit-box-orient:vertical*/}
.section.v2 .slider .swiper-slide > div {position:absolute; left:0; bottom:30px; padding:0 30px; width:100%;}
.section.v2 .slider .swiper-slide > div span {font-size:14px; color:#999}
.section.v2 .slider .swiper-slide > div span + span {float:right; color:#000}
.section.v2 .btnPrev.qna,
.section.v2 .btnNext.qna {position:absolute; top:50%; z-index:10; margin-top:-15px; width:17px; height:30px; border:none; text-indent:-9999px}
.section.v2 .btnPrev.qna {left:0; background:url("../images/main/btn-tabboard-prev.png") no-repeat center/ 100% auto}
.section.v2 .btnNext.qna {right:0; background:url("../images/main/btn-tabboard-next.png") no-repeat center/ 100% auto}
@media (max-width: 1160px) {
    .section.v2 .tabArea > div .slider {margin:0 30px}
}
@media (max-width: 940px) {
    .section.v2 {padding-bottom:35px}
    .section.v2 .tit {padding:0}
    .section.v2 .tit h2 {padding-bottom:5px}
    .section.v2 .tabMoreBtn {top:8px; right:28px; width:15px; height:15px; background-size:15px auto}
    .section.v2 > div .tit + div  {margin:15px 0 0; overflow-x:scroll; -ms-overflow-style:none; scrollbar-width:none}
    .section.v2 > div .tit + div::-webkit-scrollbar {display:none}
    .section.v2 .slider {margin:0; width:1260px}
    .section.v2 .slider .swiper-slide {padding:25px 20px 25px 25px; max-width:315px; height:200px; background:#fafafa url("../images/main/bg-qna.png")no-repeat 215px -20px / 80px auto}
    .section.v2 .slider .swiper-slide p {margin:0 0 25px; height:52px; line-height:25px; font-size:16px}
    .section.v2 .btnPrev.qna, 
    .section.v2 .btnNext.qna {display:none}
}
@media (max-width: 767px) {
    .section.v2 .tit {padding:0 30px}
    .section.v2 .slider {margin:0 30px;}
}

/* 메인 섹션 3 */
.section.v3 {padding-bottom:57px}
.section.v3 .boardList {display:flex; flex-direction:row; border-radius:10px; border:1px solid #eee}
.section.v3 .boardList li {flex:50%; line-height:100px}
.section.v3 .boardList li + li {border-left:1px solid #eee}
.section.v3 .boardList li a {display:inline-block; padding:0 52px 0 120px; width:100%; background-repeat:no-repeat; background-position:left 52px center,right 45px center; background-size:42px auto, 15px auto; font-weight:600; font-size:20px}
.section.v3 .boardList li:nth-child(1) a {background-image:url("../images/main/ico-notice01.png"), url("../images/btn-tabmenu-next.png")}
.section.v3 .boardList li:nth-child(2) a {background-image:url("../images/main/ico-notice02.png"), url("../images/btn-tabmenu-next.png")}
.section.v3 .boardList li:nth-child(3) a {background-image:url("../images/main/ico-notice03.png"), url("../images/btn-tabmenu-next.png")}
@media (min-width: 941px) {
    .section.v3 h2 {display:none}
}
@media (max-width: 940px) {
    .section.v3 .boardList li a {padding:0 52px 0 80px; background-position:left 25px center,right 45px center; background-size:32px auto, 11px auto}
}
@media (max-width: 767px) {
    .section.v3 {padding-bottom:40px}
    .section.v3 .inner {padding:0 30px}
    .section.v3 .boardList {flex-direction:column; border-radius:0}
    .section.v3 .boardList li {line-height:60px}
    .section.v3 .boardList li + li {border-top:1px solid #eee; border-left:none}
    .section.v3 .boardList li a {background-position:left 19px center, right 15px center; background-size:26px auto, 8px auto; font-size:14px}
}

/* 메인 섹션 4 */
.section.v4 {padding-bottom:5px}
.section.v4 .linkList {display:flex; justify-content:space-between; border:1px solid #eee; border-radius:10px}
.section.v4 .linkList li {flex:1; max-width:16.6%; min-width:157px}
.section.v4 .linkList li + li {border-left:1px solid #eee}
.section.v4 .linkList li p {padding:34px 0 15px; font-weight:500; font-size:18px}
.section.v4 .linkList li img {width:100%}
@media (max-width: 940px) {
    .section.v4 .inner {padding:0}
    .section.v4 .inner > div {overflow-x:scroll; -ms-overflow-style:none; scrollbar-width:none}
    .section.v4 .inner > div::-webkit-scrollbar {display:none}
    .section.v4 .linkList {min-width: 940px}
    .section.v4 .linkList li p {padding:26px 0 13px; font-size:15px}
}
@media (max-width: 767px) {
    .section.v4 h2 {padding-left:30px; padding-right:30px}
    .section.v4 .inner > div {padding-right:30px}
    .section.v4 .linkList {margin-left: 30px; min-width: 940px}
}

